@charset "UTF-8";
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

fieldset, img {
  border: 0 none;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

input, select, textarea, button {
  vertical-align: middle;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

.hidden {
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  color: transparent;
  font-size: 0;
}

a {
  color: #333;
  text-decoration: none;
}

a:active, a:hover {
  /*text-decoration:underline*/
}

address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

input:checked[type='checkbox'] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

input[type='text'], input[type='password'], input[type='submit'], input[type='search'], input[type='tel'], input[type='email'] {
  -webkit-appearance: none;
  border-radius: 0;
}

html input[type='button'] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type='reset'] {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

input, textarea, button {
  letter-spacing: -1px;
  font-family: 'Malgun Gothic', Dotum, '돋움', 'Apple SD Gothic Neo',arial,sans-serif;
}

img {
  vertical-align: top;
}

address, article, aside, blockquote, body, center, dd, dir, div, dl, dt, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre, section, summary, ul, xmp {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 12px;
  letter-spacing: -1px;
  color: #000;
  -webkit-text-size-adjust: none;
  font-family: 'Malgun Gothic', Dotum, '돋움', 'Apple SD Gothic Neo',arial,sans-serif;
}

body.main {
  background-color: #000;
}

select {
  position: relative;
  z-index: 10;
}

/*ie x*/
/* :root{
  --color-ff:#fff;
} var(--color-ff) */
.point_c1 {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background-color: #999;
}

header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  text-align: right;
}

header a {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5em;
  color: #fff;
}

header .menu {
  float: right;
}

header .menu a {
  padding: 0 10px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.show-menu-btn, .hide-menu-btn {
  display: none;
}

.show-menu-btn {
  float: right;
  padding: 10px;
}

#mclick {
  position: absolute;
  overflow: hidden;
  z-index: -10;
  width: 0;
  height: 0;
}

.sec-1 {
  z-index: 10;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.sec-1::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: sec1back;
          animation-name: sec1back;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  background: url("../img/img-a.jpg") 50% top no-repeat;
  background-size: cover;
}

@-webkit-keyframes sec1back {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sec1back {
  from {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.myname {
  position: fixed;
  left: 0;
  text-align: center;
  font-size: 0;
  color: #fff;
  top: -15px;
  left: -35px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.myname span {
  font-size: 36px;
}

.myname .port {
  font-size: 36px;
}

.myname.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: bold;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-name: myName;
          animation-name: myName;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.myname.active span {
  vertical-align: middle;
}

.myname.active span.hide {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-name: textAction;
          animation-name: textAction;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;
}

@-webkit-keyframes myName {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-15%, -15%) scale(0.5);
            transform: translate(-15%, -15%) scale(0.5);
  }
  100% {
    position: fixed;
    top: -15px;
    left: -35px;
    -webkit-transform: translate(0) scale(0.5);
            transform: translate(0) scale(0.5);
  }
}

@keyframes myName {
  0% {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  50% {
    -webkit-transform: translate(-15%, -15%) scale(0.5);
            transform: translate(-15%, -15%) scale(0.5);
  }
  100% {
    position: fixed;
    top: -15px;
    left: -35px;
    -webkit-transform: translate(0) scale(0.5);
            transform: translate(0) scale(0.5);
  }
}

/*
.myname span.hide{visibility:hidden;width:0;height:0;opacity:0;font-size:0;transition: .5s ease-in;}
.myname:hover span.hide{visibility:visible;width:1em;height:1em;opacity:1;font-size:24px;}
*/
@-webkit-keyframes textAction {
  from {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    -webkit-transition: .5s ease-in;
    transition: .5s ease-in;
  }
  to {
    visibility: visible;
    width: 1em;
    height: 1em;
    opacity: 1;
    font-size: 36px;
  }
}
@keyframes textAction {
  from {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    font-size: 0;
    -webkit-transition: .5s ease-in;
    transition: .5s ease-in;
  }
  to {
    visibility: visible;
    width: 1em;
    height: 1em;
    opacity: 1;
    font-size: 36px;
  }
}

.portfolio_card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
}

.click {
  display: none;
}

.front, .back {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform .6s linear;
  transition: -webkit-transform .6s linear;
  transition: transform .6s linear;
  transition: transform .6s linear, -webkit-transform .6s linear;
}

.front {
  z-index:100;
  text-align: center;
  -webkit-transform: rotateY(0deg) perspective(800px);
          transform: rotateY(0deg) perspective(800px);
  background-color: #fff;
  background-image: radial-gradient(circle, #fff, #fff, #eee, #999, #999);
}

.front img {
  height: 100%;
}

.front .year {
  display: block;
  margin-top: 10em;
  font-size: 1.6em;
}

.front ul {
  margin-top: 1em;
}

.front ul li {
  display: inline-block;
  margin: 10px;
}

.front ul li img {
  max-width: 100%;
}

.front .logo_layaut {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.front .logo_layaut strong {
  display: inline-block;
  margin-top: 1em;
  font-size: 1.6em;
}

.swiper-slide.swiper-slide-active .logo_layaut {
  display: block;
}

.swiper-slide.swiper-slide-active .logo_layaut h2 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.swiper-slide.swiper-slide-active .logo_layaut strong {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.back {
  background-color: #000;
  -webkit-transform: rotateY(180deg) perspective(800px);
          transform: rotateY(180deg) perspective(800px);
}

.back ul {
  padding: 20px;
}

.back ul li {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #fff;
}

.back-content {
  overflow-y: auto;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #2c3e50;
}

.back-content .lay_img {
  position: relative;
  overflow: hidden;
  font-size: 0;
}

.back-content .lay_img::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../img/list_bg.png) repeat-x left bottom;
}

.back-content .lay_img.afno::after {
  display: none;
}

.back-content .lay_img li {
  display: inline-block;
  margin-bottom: 5px;
  vertical-align: top;
  text-align: center;
}

.back-content .lay_img li img {
  width: 98%;
}

.back-content .lay_img.pcul li {
  width: 50%;
}

.back-content .lay_img.moul li {
  width: 25%;
}

.back-content .lay_img.pcmoul li {
  width: 75%;
}

.back-content .lay_img.pcmoul li:nth-child(2n) {
  width: 25%;
}

.back-content .lay_img.moul.odd li {
  width: 20%;
}

.back-content .desc {
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  font-size: 1.5em;
  background-color: #fff;
}

.pc .portfolio_card:hover > .front {
  -webkit-transform: rotateY(-180deg) perspective(800px);
          transform: rotateY(-180deg) perspective(800px);
}

.pc .portfolio_card:hover > .back {
  -webkit-transform: rotateY(0deg) perspective(800px);
          transform: rotateY(0deg) perspective(800px);
}

.portslide.swiper-container {
  width: 100%;
  height: 100%;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.portslide-next, .portslide-prev {
  z-index: 80;
  position: fixed;
  bottom: 10px;
  color: #fff;
  font-size: 36px;
}

.portslide-next {
  left: 50%;
  margin-left: -100px;
}

.portslide-prev {
  right: 50%;
  margin-right: -100px;
}

.portslide .swiper-pagination {
  z-index: 50;
  position: fixed;
  bottom: 20px;
  font-size: 1.5em;
  color: #fff;
}

.portslide .fa-arrow-circle-down {
  display: none;
}

.swiper-slide {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.swiper-slide.swiper-slide-active::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
}

.pc02.swiper-slide-active::after {
  background: #ec743d url(../img/bg_plogo18.png) repeat 50%;
  background-size: contain;
}

.pc03.swiper-slide-active::after {
  background: url(../img/bg_plogo19.png) repeat 50%;
  background-size: contain;
}

.pc04.swiper-slide-active::after {
  background: url(../img/bg_plogo20.png) repeat 50%;
  background-size: contain;
}

.pc05.swiper-slide-active::after {
  background: url(../img/bg_plogo21.png) repeat 50%;
  background-size: contain;
}

.pc06.swiper-slide-active::after {
  background: url(../img/bg_plogo22.png) repeat 50%;
  background-size: contain;
}

.pc07.swiper-slide-active::after {
  background: url(../img/bg_plogo23.png) repeat 50%;
  background-size: contain;
}

.pc08.swiper-slide-active::after {
  background: url(../img/bg_plogo24.png) repeat 50%;
  background-size: contain;
}

@media screen and (max-width: 800px) {
  .show-menu-btn, .hide-menu-btn {
    display: block;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 3em;
    color: #fff;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background-color: #333;
    text-align: center;
    padding: 80px 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .hide-menu-btn {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  #mclick:checked ~ .menu {
    display: block;
    right: 0;
  }
  #mclick:checked ~ .menu a {
    margin-top: 40px;
    opacity: 1;
  }
  #mclick ~ .menu a {
    opacity: 0;
  }
  .portfolio_card {
    width: 75%;
    height: 80%;
  }
  .portfolio_card .front .year {
    margin-top: 1em;
  }
  .portfolio_card .front ul {
    margin-top: 0;
  }
  .portfolio_card .front .logo_layaut h2 img {
    max-width: 80%;
    height: auto;
  }
  .pc01 .portfolio_card .front {
    overflow-y: auto;
  }
  .pc01 .portfolio_card.on .front {
    overflow-y: hidden;
  }
  .click {
    display: block;
    position: absolute;
    bottom: 0;
    right: -39px;
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    background-color: #fff;
  }
  .mobile .portfolio_card .front ul {
    padding: 20px;
  }
  .mobile .portfolio_card .back ul {
    opacity: 0;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
  }
  .mobile .portfolio_card .back ul li {
    font-size: 1.2em;
  }
  .mobile .portfolio_card .back ul li img {
    max-width: 100%;
  }
  .mobile .portfolio_card .back .back-content {
    overflow-y: hidden;
  }
  .mobile .portfolio_card .back .back-content .lay_img.pcul li {
    width: 100%;
  }
  .mobile .portfolio_card .back .back-content .lay_img.moul li {
    width: 50%;
  }
  .mobile .portfolio_card .back .back-content .desc {
    font-size: 1em;
  }
  .mobile .portfolio_card.on > .front {
    -webkit-transform: rotateY(-180deg) perspective(800px);
            transform: rotateY(-180deg) perspective(800px);
  }
  .mobile .portfolio_card.on > .back {
    -webkit-transform: rotateY(0deg) perspective(800px);
            transform: rotateY(0deg) perspective(800px);
  }
  .mobile .portfolio_card.on > .back ul {
    opacity: 1;
  }
  .mobile .portfolio_card.on > .back .back-content {
    overflow-y: auto;
  }
  .portslide .fa-arrow-circle-down {
    display: block;
    position: absolute;
    bottom: 40px;
    right: -42px;
    font-size: 2em;
    color: #fff;
    -webkit-animation-delay: .5s;
            animation-delay: .5s;
    -webkit-animation-name: faArrow;
            animation-name: faArrow;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: .8s;
            animation-duration: .8s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  @-webkit-keyframes faArrow {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    50% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  @keyframes faArrow {
    0% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
    50% {
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
    }
    100% {
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }
  }
  .portslide-next, .portslide-prev {
    display: none;
  }
}
/*# sourceMappingURL=common.css.map */
