@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
fieldset,img { border:0 none }
dl,ul,ol,menu,li {list-style:none }
blockquote, q {quotes: none }
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none }
input,select,textarea,button {vertical-align:middle;outline:none }
input::-ms-clear {display:none }
button {border:0 none;background-color:transparent;cursor:pointer }
.hidden{overflow:hidden;visibility:hidden;position:absolute;left:-9999px;width:0;height:0;color:transparent;font-size:0;}

a {color:#333;text-decoration:none}
a:active, a:hover {/*text-decoration:underline*/}
a:active {background-color:transparent}

address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button,textarea{-webkit-appearance:none}
input, textarea,button {letter-spacing:-1px;font-family: 'Malgun Gothic', Dotum, '돋움', 'Apple SD Gothic Neo',arial,sans-serif; }
img{vertical-align:top;}

address, article, aside, blockquote, body, center, dd, dir, div, dl, dt, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre, section, summary, ul, xmp {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body { font-size:12px;letter-spacing:-1px;color:#000;-webkit-text-size-adjust:none;font-family: 'Malgun Gothic', Dotum, '돋움', 'Apple SD Gothic Neo',arial,sans-serif;background-color: #000;}
select {position:relative;z-index:10;}

header{z-index:10;position:fixed;top:0;left:0;width:100%;height:30px;text-align:right;}
header a{font-size:2em;color:#fff;}
.sec-1{position:relative;overflow:hidden;width:100%;height:100vh;}
.sec-1::after{content:"";z-index: -1;position:absolute;top:0;left:0;width:100%;height:100%;opacity: .5;animation-delay:.5s;animation-name: sec1back;animation-fill-mode: both;;animation-duration: 5s;background: url('img/img-a.jpg') 50% top no-repeat;background-size: cover;}
@keyframes sec1back {
  from {
		transform: scale(1.2);
	}
	to {
		transform: scale(1);
	}
}
.sec-1 .fa-arrow-circle-down{position: absolute;bottom:10px;left:50%;font-size: 3em;color:#fff;animation-delay:.5s;animation-name: faArrow;animation-fill-mode: both;;animation-duration: .8s;animation-iteration-count: infinite;}
@keyframes faArrow {
	0% {
		transform: translate(-50%,-50%);
	}
	50% {
		transform: translate(-50%,0);
	}
  100% {
		transform: translate(-50%,-50%);
	}
}
.myname{position:absolute;transform: translate(-50%,-50%);text-align:center;font-size:0;font-weight:bold;color:#fff;animation-delay:1.5s;animation-name: myName;animation-fill-mode: both;animation-duration: 1s;}
@keyframes myName {
	0% {
    top:50%;left:50%;transform: translate(-50%,-50%) scale(1);
	}
	50% {
		transform: translate(-15%,-15%) scale(.8);
	}
	100% {
		position:fixed;top:0;left:0;transform: translate(0) scale(.8);
	}
}
.myname span{vertical-align: middle;font-size:24px;}
/*
.myname span.hide{visibility:hidden;width:0;height:0;opacity:0;font-size:0;transition: .5s ease-in;}
.myname:hover span.hide{visibility:visible;width:1em;height:1em;opacity:1;font-size:24px;}
*/
.myname span.hide{animation-delay:0.5s;animation-name: textAction;animation-fill-mode: both;animation-duration: .5s;}
@keyframes textAction {
	from {
		visibility:hidden;width:0;height:0;opacity:0;font-size:0;transition: .5s ease-in;
	}
	to {
		visibility:visible;width:1em;height:1em;opacity:1;font-size:24px;
	}
}
.myname .port{font-size: 24px}

.sec-2{padding:20px;background-color:#fff;}


/* sub */
.middle{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
.card{
  cursor:pointer;
  width:340px;
  height:480px;
}
.front, .back{
  width:100%;
  height:100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .6s linear;
}
.front img{
  height:100%;
}
.front{
  text-align:center;
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background-color:#f1f1f1;
  transform: perspective(600px) rotateY(180deg);
}
.back-content{
  color:#2c3e50;
  text-align: center;
  width:100%;
}
.card:active > .front,
.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}
.card:active > .back,
.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}
