@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
    margin:0;
    padding:0
}
fieldset,img { border:0 none }
dl,ul,ol,menu,li {list-style:none }
blockquote, q {quotes: none }
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none }
input,select,textarea,button {vertical-align:middle;outline:none }
input::-ms-clear {display:none }
button {border:0 none;background-color:transparent;cursor:pointer }
body {min-width:1000px;background:#fff;-webkit-text-size-adjust:none}
.hidden{overflow:hidden;visibility:hidden;position:absolute;left:-9999px;width:0;height:0;color:transparent;font-size:0;}

a {color:#333;text-decoration:none}
a:active, a:hover {/*text-decoration:underline*/}
a:active {background-color:transparent}

address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
input:checked[type='checkbox']{background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset']{-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button,textarea{-webkit-appearance:none}
input, textarea,button {letter-spacing:-1px;font-family: 'Malgun Gothic', Dotum, '돋움', Arial, Helvetica, sans-serif; }
img{vertical-align:top;}

address, article, aside, blockquote, body, center, dd, dir, div, dl, dt, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header,
hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre, section, summary, ul, xmp {
    display: block;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body { font-size:12px;letter-spacing:-1px;color:#000;font-family: 'Malgun Gothic', Dotum, '돋움', Arial, Helvetica, sans-serif;}
select {position:relative;z-index:10;}

/* common style */
.textL { text-align:left }
.textC { text-align:center }
.textR { text-align:right }

.f100 { font-weight:100 }
.fBold { font-weight:700 }

.f11 { font-size:11px }
.f12 { font-size:12px }
.f13 { font-size:13px }

.floatL { float: left; }
.floatR { float: right; }
.floatC:after {
    content: "";
    display: block;
    clear: both;
}
.floatC { *zoom: 1; }

.dBlock { display: block; }
.imgM { vertical-align: middle; }
.cursorP { cursor: pointer; }

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}
.ellipsis a { color: #2e2d2d; }
.ellipsis a:hover { color: #000; }
.blind {
    position: absolute;
    left: -9999em;
}

/* === select box === */
div.select_box {
    position: relative;
    width: 200px;
    height: 23px;
    background:#fff url(../img/common/select_arrow.png) no-repeat right 50%;
    border: 1px solid #e5e5e5;
}
div.select_box label {
    position: absolute;
    font-size: 12px;
    top: 0px;
    left: 5px;
}
div.select_box select.select_option {
    width: 100%;
    height: 23px;
    min-height: 23px;
    line-height: 23px;
    padding: 0 5px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 8 */
}

div.select_box28 {
    position: relative;
    width: 200px;
    height: 26px;
    background:#fff url(../img/common/select_arrow.png) no-repeat right 10px;
    border: 1px solid #e5e5e5;
}
div.select_box28 label {
    position: absolute;
    font-size: 12px;
    top: 3px;
    left: 5px;
    line-height:normal;
    font-weight:100;
	text-align:left;
	background-color:#fff;/* 사파리 폰트 깨짐 방지 */
}
div.select_box28 select.select_option {
    width: 100%;
    height: 26px;
    min-height: 26px;
    line-height: 26px;
    padding: 0 5px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 8 */
}

/* === popup 기본스타일 === */
.popup_header {
    position:relative;
    width:100%;
    height:74px;
    background:#765a60
}
h1.popup_tit {
    color:#fff;
    font-weight:700;
    font-size:20px;
    line-height:74px;
    margin-left:30px
}
.btn_close_popup {
    position:absolute;
    top:25px;
    right:20px
}
.btn_close_popup:active {
    opacity:0.5;
    filter: alpha(opacity=50);
}
.popup_content {
    padding:27px
}
.pop_front{
    z-index:9999;
}
.popup_content .category_selectBox{
	width:124px;
	height:24px;
	line-height:24px;
}
/*== 30일 동안 보지않기 ==*/
.popup_main_day{
    border:8px solid #5d3231;
}
.popdloat{
    overflow:hidden;
}
.popup_close{
    position:relative;
    height:40px;
}
.popup_close .btn_close_popup{
    right:35px;
}
.today_check{
    float:left;
    display:inline-block;
    height:13px;
    margin-top:5px;
    text-align:right
}
.today_check label {
    height:13px
}
.today_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.today_check label span {
    width: 13px;
    height: 13px;
    margin-right:5px;
    margin-bottom:-2px;
    display: inline-block;
    background: url("../img/common/input_checkbox04.gif");
}
.today_check label input[type=checkbox]:checked + span {
    background: url("../img/common/input_checkbox_checked04.gif");
}
.today_cancel {
    float:right;
    color:#fff;
    font-size:12px;
    height:24px;
    line-height:24px;
    width:70px;
    background:#898989
}
.today_cancel:active {
    background:#000
}
/* === 탭메뉴 === */
ul.tabs {
    float:left;
    height: 42px;
    border-left: 1px solid #ddd;
    width: 100%;
    margin-bottom:27px;
    z-index:0
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:49.5%;
    height: 42px;
    color:#383838;
    font-size:14px;
    line-height: 42px;
    border: 1px solid #e5e5e5;
    border-bottom:1px solid #5d3231; 
    border-left: none;
    font-weight: 700;
    background: #fff;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #fff;
    color:#5d3231;
    border-top:1px solid #5d3231;
    border-left:1px solid #5d3231;
    border-right:1px solid #5d3231;
    border-bottom:1px solid #fff
}
ul.tabs li span {
    color:#ff0000;
    margin-left:5px
}
.tab_content {
    display: none;
}

/* === file upload === */
.file_up {
    position:relative;
    width:397px;
    height:28px
}
.file_up button {
    position:absolute;
    right:2px;
    top:0px
}
.file_up input {
    opacity:0;
    position:absolute;
    left:0;
    top:0px
}

/* ===== Table pagination ===== */
.tPages {
    text-align: center;
    margin: 30px 0 ;
}
.tPages ul li {
    display: inline-block;
	width:42px;
    height: 42px;
    line-height: 42px;
	margin-left:-4px;
    text-align: center;
	border:1px solid #ddd;
	border-right:0;
    background:#fff;
}
.tPages ul li:nth-child(2) {
	border-left:0;
}
.tPages ul li a {
    display: inline-block;
    height: 42px;
    line-height: 41px;
    color: #333;
    font-weight:700;
    font-size: 13px;
}
.tPages ul li.prev span,
.tPages ul li.next span {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    vertical-align:top;
}
.tPages ul li.prev a,
.tPages ul li.next a {
    display: inline-block;
    padding: 0;
    vertical-align:top;
}

.tPages ul li a:hover {
    text-decoration:underline
}
.tPages ul li.active {
    background:#fff;
    color:#ff2626;
}
.tPages ul li.active span {
    color: #ff2626;
    display: inline-block;
    font-weight:700;
    height: 42px;
    line-height: 42px;
}
.tPages ul li.active a {
    background: #6f6f6f;
    color: #fff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    font-size: 12px;
}

/* === alert === */
.alert_body {
    position:relative;
    width:394px;
    height:autopx;
    border:8px solid #baacaf;
    background:#fff
}

.btn_alert_close {
    position:absolute;
    right:11px;
    top:12px
}
.alert_content {
    padding:27px
}
.alert_text {
    padding:34px 0 33px;
    text-align:center;
    color:#0e0e0e;
    font-size:14px;
    line-height:20px
}
.alert_text input[type="password"] {
    border:1px solid #e5e5e5 ;
    width:155px;
    height:26px;
    line-height:26px;
    padding:0 5px;
    font-size:12px;
    letter-spacing:-1px;
}
.alert_btn_area {
    text-align:center;
}
.btn_alert_ok {
    color:#fff;
    font-size:13px;
    height:32px;
    line-height:32px;
    width:100px;
    background:#765a60;
}
.btn_alert_ok:active {
    background:#000
}
.btn_alert_cancel {
    color:#fff;
    font-size:13px;
    height:32px;
    line-height:32px;
    width:100px;
    background:#898989;
}
.btn_alert_cancel:active {
    background:#373737
}
.no_blank{width:100%;text-align:center; padding:80px 0;}
.esb{
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    color: transparent;
    font-size: 0;
}

.text_area{width:100%;}
.text_area textarea{
	width:100%;
	height:140px;
	padding:10px;
	border:1px solid #cdcdcd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.text_area.area_td{width:80%;}
.text_area.area_td textarea{
	width:100%;
	height:140px;
	padding:10px;
	border:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

.pdl_25{padding-left:25px;}

/* noimg */
.noimg{
	position:relative;
	display:inline-block;
	width:100%;
	height:100%;
	background-color:#f7f8fa;
}
.noimg:active {background-color:#f7f8fa}
.noimg img{
	position:absolute;
	top:50% !important;
	left:50% !important;
	margin:-36px 0 0 -36px;
	display:inline-block;
	width:72px !important;
	height:72px !important;
}
.quick_view li .noimg{
	background-color:#fff;
}
.quick_view li .noimg img{
	position:relative;
	top:0 !important;
	left:0 !important;
	margin:0;
	background-color:#f7f8fa;
}
.bx-wrapper ul{
	height:100%;
}
.bx-wrapper li{
	height:100%;
}
.main_typeC .noimg{min-height:370px;}
.bbs_g_thum > .noimg{
    width:77px;
    height:77px;
	vertical-align:top;
}
#product_photo #goods_view_s_slider a.noimg{
	border:1px solid #ccc;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#product_photo #goods_view_s_slider a.noimg img{
	position:relative;
	width:98px;
	height:98px;
	border:0;
}
.end_event_info dt.noimg {
	width:180px;
	margin-right:23px;
}
.promotion_list_info dt.noimg{
	width:540px;
	margin-right:35px;
}
.tCart_Board .pix_img2 .noimg{
	height:60px;
}
.tCart_Board .pix_img2 .noimg img{
	width: 20px !important;
    height: 20px !important;
	margin:-10px 0 0 -10px;
}
.coupon_select_list li .noimg{
	width:65px;
	height:65px;
}
.coupon_select_list li .noimg img{
	width: 30px !important;
    height: 30px !important;
	margin:-15px 0 0 -15px;
}
.tMypage_Board td.pix_img .noimg{
	width:65px;
	height:65px;
}
.tMypage_Board td.pix_img .noimg img{
	width: 30px !important;
    height: 30px !important;
	margin:-15px 0 0 -15px;
}
.tProduct_Board .pix_img .noimg{
	width:65px;
	height:65px;
}
.tProduct_Board .pix_img .noimg img{
	width: 30px !important;
    height: 30px !important;
	margin:-15px 0 0 -15px;
}
.tableimg{
	display:block;
	width:200px;
	height:200px;
}

/* 햇쌀마루 OnAir 준비중입니다. */
.main_typeF .left .video.ready{
	text-align:center;
	background-color:#f7f8fa;
}
.main_typeF .left .video.ready p{
	line-height:314px;
	color:#6a6a6a;
}

/* 햇쌀 가득한 식탁 */
.main_typeE .right .product_not{
	height:398px;
	line-height:398px;
	margin:0;
	text-align:center;
	border-bottom:0 !important;
}

/* 이미지 상세 팝업 */
.popup_image_detail{
	width: 530px;
	border: 8px solid #251414;
}
.imgdetail_con{overflow:hidden;position:relative;}
.imgdetail_slide{text-align:center;}
.imgdetail_slide li a{width:208px;height:208px;}
.imgdetail_slide li a img{width:208px;height:208px;}
.imgdetail_con .bx-wrapper .bx-controls-direction{
	z-index: 100;
}
.imgdetail_con .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top:-25px;
	display:inline-block;
	width: 25px;
	height: 50px;
	text-indent: -9999px;
}
.imgdetail_con .bx-wrapper .bx-prev {
	left: 24px;
	background: url(../img/common/pop_btn_slider_pre.png) no-repeat;
}
.imgdetail_con .bx-wrapper .bx-next {
	right: 24px;
	background: url(../img/common/pop_btn_slider_nex.png) no-repeat;
}

/* input추가 */
.input_basic{
	border: 1px solid #e5e5e5;
    padding: 5px;
    font-size: 12px;
    letter-spacing: -1px;
    height: 16px;
}