@charset "utf-8";

/* === 커뮤니티 === */
.community_not_register{
	width:100%;
	height:300px;
	line-height:300px;
	text-align:center;
	font-size:26px;
	color:#92636d;
	background-color:#e8dbd9;
}
.community_menu{margin-bottom:60px;}
.community_menu ul{overflow:hidden;}
.community_menu ul li{
	float:left;
	width:143.5px;
	height:108px;
	margin:3px 0 0 -1px;
	text-align:center;
	border:1px solid #d6cdcf;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.community_menu ul li:first-child{margin-left:0;}
.community_menu ul li:hover,
.community_menu ul li.on{
	position:relative;
	z-index:50;
	height:111px;
	margin-top:0;
	border:0;
	border-top:4px solid #765a60;
	background-color:#e6e1e2;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.community_menu ul li a{
	display:block;
	height:100%;
	padding-top:20px;
	font-size:14px;
	color:#765a60;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.community_menu ul li.on a{font-weight:bold;}
.community_menu ul li span{width:44px;height:38px;margin:10px auto 0;display:block;}
.community_menu ul li.menu01 span{background:url(../img/community/community_menu01_off.png) no-repeat left top}
.community_menu ul li.menu01:hover span,
.community_menu ul li.menu01.on span{background:url(../img/community/community_menu01_on.png) no-repeat left top}
.community_menu ul li.menu02 span{background:url(../img/community/community_menu02_off.png) no-repeat left top}
.community_menu ul li.menu02:hover span,
.community_menu ul li.menu02.on span{background:url(../img/community/community_menu02_on.png) no-repeat left top}
.community_menu ul li.menu03 span{background:url(../img/community/community_menu03_off.png) no-repeat left top}
.community_menu ul li.menu03:hover span,
.community_menu ul li.menu03.on span{background:url(../img/community/community_menu03_on.png) no-repeat left top}
.community_menu ul li.menu04 span{background:url(../img/community/community_menu04_off.png) no-repeat left top}
.community_menu ul li.menu04:hover span,
.community_menu ul li.menu04.on span{background:url(../img/community/community_menu04_on.png) no-repeat left top}
.community_menu ul li.menu05 span{background:url(../img/community/community_menu05_off.png) no-repeat left top}
.community_menu ul li.menu05:hover span,
.community_menu ul li.menu05.on span{background:url(../img/community/community_menu05_on.png) no-repeat left top}
.community_menu ul li.menu06 span{background:url(../img/community/community_menu06_off.png) no-repeat left top}
.community_menu ul li.menu06:hover span,
.community_menu ul li.menu06.on span{background:url(../img/community/community_menu06_on.png) no-repeat left top}
.community_menu ul li.menu07 span{background:url(../img/community/community_menu07_off.png) no-repeat left top}
.community_menu ul li.menu07:hover span,
.community_menu ul li.menu07.on span{background:url(../img/community/community_menu07_on.png) no-repeat left top}
.community_menu ul li.menu08 span{background:url(../img/community/community_menu08_off.png) no-repeat left top}
.community_menu ul li.menu08:hover span,
.community_menu ul li.menu08.on span{background:url(../img/community/community_menu08_on.png) no-repeat left top}

#community_location {
    width:1000px;
    margin:0 auto 32px;
    font-weight:700;
    letter-spacing:-1px;
}
#community_location > span.location_bar {
    display:inline-block;
    width:2px;
    height:11px;
    margin:0 14px;
    background:url(../img/customer/location_bar.png) no-repeat left 2px
}
#community_location > span  {
    margin:0 11px;
    font-weight:100
}
#customer_location > a:first-child {
    display: inline-block;
    width: 102px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #626262;
}
.community {
    overflow:hidden;
	background: #fff;
    padding: 10px;
}

/* === 커뮤니티 왼쪽 메뉴 === */
.community_side_area {
    float:left;
    width:200px;
    height:100%;
    border-right:1px solid #e5e5e5
}
.community_side {
    margin-bottom:46px
}
.community_side li {
    line-height:43px;
}
.community_side li a {
    padding-top:9px;
    color:#7b7b7b;
    font-size:14px;
    height:39px;
    font-weight:700;
    background:url(../img/customer/side_menu_bar.gif) no-repeat left top
}
.community_side li a:hover,
.community_side li a.selected {
    color:#000000;
}
.community_side_info {
    background:url(../img/customer/customer_side_info_dotline.png) repeat-x left top;
}
.community_side_info li {
    font-size:11px;
    line-height:16px;
    background:url(../img/customer/customer_side_info_dotline.png) repeat-x left bottom;
    padding:11px 0 17px
}
.side_info_tit {
    display:block;
    font-size:10px;
    font-weight:700;
}
.side_info_tel {
    display:block;
    font-size:12px;
    font-weight:700;
    margin-bottom:14px
}

/* === 커뮤니티 오른쪽 컨텐츠 === */
.community_content {
    float:right;
    width:730px;
}
h3.community_con_tit {
    margin-top:14px;
    font-size:16px;
    color:#373737;
    padding-left:17px;
    background:url(../img/customer/bul_h3_tit.png) no-repeat left 2px
}
h3.community_con_tit span {
    display:block;
    margin-left:-17px;
    margin-top:11px;
    font-size:12px;
    font-weight:100;
    color:#acacac
}
.community_content .table_top {
    text-align:right;
    height:30px;
    margin-bottom:5px
}
.community_content .table_top select {
    height:28px
}
.community_content .table_top > input[type="text"] {
    border:1px solid #e5e5e5;
    border-right:none;
    width:154px;
    height:16px;
    padding:5px 0 5px 5px;
    font-size:12px;
    letter-spacing:-1px;
}
.community_content .table_top > button {
    width:26px;
    height:28px;
    border:1px solid #e5e5e5;
    border-left:none;
    background:url(../img/common/icon_search.png) no-repeat 5px 6px
}

/* === 자유게시판 === */
.tFree_Board {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tFree_Board th {
    font-size:13px;
    color:#2e2d2d;
    padding:16px 0;
    background:#f2eced;
    border-bottom:1px solid #e5e5e5 ;
}
.tFree_Board td {
    font-size:13px;
    text-align:left;
    padding:14px 20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tFree_Board td.textC {
    text-align:center;
    padding:14px 0;
}
.tFree_Board td a {
    color:#2e2d2d
}
.tFree_Board .free_check {
}
.tFree_Board .free_check label {
    height:14px;
    line-height:14px
}
.tFree_Board .free_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tFree_Board .free_check label span {
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("../img/common/input_checkbox06.gif");
}
.tFree_Board .free_check label input:checked + span {
    background: url("../img/common/input_checkbox_checked06.gif");
}
.tFree_Board td .label_red {
    color:#c95b72
}
.community_btn_area {
    margin:18px 0;
    text-align:right
}
.btn_free_write {
    width:100px;
    height:32px;
    font-size:13px;
    color:#fff;
    background:#765a60 ;
}
.btn_free_write:active {
    background:#000
}

/* === 자유게시판 상세페이지 === */
.tFree_View {
    width:100%;
    border-top:1px solid #e5e5e5
}
.tFree_View th {
    font-size:13px;
    color:#2e2d2d;
    padding:15px;
    background:#f2eced;
    border-bottom:1px solid #e5e5e5 ;
}
.tFree_View td {
    font-size:13px;
    text-align:left;
    padding:15px 20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tFree_View td.lnh_file{line-height:23px;}
.tFree_View td.bbs_select_td{padding:6px 20px;} /*160603 셀렉박스 패딩값 수정*/
.tFree_View td.view {
    padding:40px 0px;
    line-height:22px;
    border-bottom:none
}
.tFree_View td.bbs_file{border-bottom:1px solid #e5e5e5;} /*160603 첨부파일 라인 추가*/
.tFree_View td.bbs_file img{
	max-width:100%;
}
.tFree_View td a {
    color:#2e2d2d
}
.tFree_View td.free_con {
    text-align:center;
    padding:0;
    line-height:1
}
.file_add{height:25px; line-height:25px;}/*160603 첨부파일 다중파일 추가*/
.free_comment_write {
    margin:12px 0;
    padding:20px 20px 0 20px;
    text-align:left;
    border:1px solid #e5e5e5
}
.free_comment_warning {
    font-size:12px;
    color:#a1a1a1;
    margin-bottom:7px
}
.free_comment_form {
    position:relative;
    width:100%;
    height:67px;
    border:1px solid #e5e5e5
}
.free_comment_form textarea {
    float:left;
    border:none;
    resize:none;
    padding:5px;
    font-size:12px;
    width:608px;
    height:57px;
    overflow-y:auto
}
.free_comment_form label {
    position:absolute;
    right:75px;
    bottom:5px;
    font-size:12px;
    color:#a1a1a1
}
.btn_free_comment {
    float:right;
    width:70px;
    height:68px;
    font-size:14px;
    font-weight:700;
    color:#373737;
    background:#baacaf
}
.btn_free_comment:active {
    background:#ddd
}
.free_comment_no {
    color:#ff0000;
    margin-left:5px
}
.free_comment_list {
    margin:0px 0 0px
}
.free_comment_view {
    padding:20px 0 20px;
    overflow:hidden ;
    background:url(../img/product/reply_dot_line.png) repeat-x left bottom;
}
.free_comment_id {
    float:left;
    width:70px;
    margin-right:20px;
    font-size:13px;
    font-weight:700
}
.free_comment_text {
    float:left;
    width:70%;
    font-size:12px;
    line-height:18px
}
.free_comment_info {
    float:right;
    text-align:right;
    width:70px;
}
.free_comment_text02 {
    float:left;
    width:740px;
    font-size:12px;
    line-height:18px
}
.free_comment_btn {
    float:right;
    text-align:right;
    width:110px;
}
.free_comment_btn button {
    vertical-align:bottom
}
.free_comment_info_date {
    font-size:12px;
    line-height:16px;
    margin-bottom:5px;
	padding-right:2px;
}
.btn_free_area {
    margin:20px auto
}
.btn_free_list {
    width:100px;
    height:32px;
    font-size:13px;
    line-height:32px;
    color:#fff;
    background:#765a60
}
.btn_free_list:active {
    background:#000
}
.btn_free_spam {
    width:100px;
    height:32px;
    font-size:13px;
    line-height:32px;
    color:#fff;
    background:#898989
}
.btn_free_spam:active {
    background:#373737
}
.btn_free_reply {
    border:1px solid #e5e5e5;
    width:68px;
    height:32px;
    line-height:32px;
    color:#373737;
    background:#fff
}
.btn_free_modify {
    border:1px solid #e5e5e5;
    width:68px;
    height:32px;
    line-height:32px;
    color:#373737;
    background:#fff
}
.btn_free_del {
    border:1px solid #e5e5e5;
    width:68px;
    height:32px;
    line-height:32px;
    color:#373737;
    background:#fff
}
.btn_free_reply:active {
    background:#e5e5e5
}
.btn_free_modify:active {
    background:#e5e5e5
}
.btn_free_del:active {
    background:#e5e5e5
}

/* === 자유게시판 쓰기 === */
.tFree_Insert {
    width:100%;
    border-top:1px solid #e5e5e5
}
.tFree_Insert th {
    font-size:13px;
    font-weight:700;
    background:#f2eced;
    padding:7px 0px;
    border-bottom:1px solid #e5e5e5
}
.tFree_Insert td {
    font-size:13px;
    text-align:left;
    padding:7px 16px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tFree_Insert td input[type="text"],
.tFree_Insert td input[type="password"] {
    border:1px solid #e5e5e5;
    padding:5px;
    font-size:12px;
    letter-spacing:-1px;
    height:16px
}
.tFree_Insert td.view {padding:40px 0px;line-height:22px;}/*160603 대답하기페이지 추가*/


.tFree_Insert .free_notice_check {
    display:inline-block;
    font-size:13px;
    color:#0e0e0e;
    line-height:28px;
    margin:0px 0 0px 20px
}
.tFree_Insert .free_notice_check label {
    height:11px;
    line-height:11px
}
.tFree_Insert .free_notice_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tFree_Insert .free_notice_check label span {
    width: 11px;
    height: 11px;
    margin-right:3px;
    margin-bottom:-1px;
    display: inline-block;
    background: url("../img/common/input_checkbox03.gif");
}
.tFree_Insert .free_notice_check label input:checked + span {
    background: url("../img/common/input_checkbox_checked03.gif");
}
.tFree_Insert td.insert {
    padding:6px 0;
}
.tFree_Insert td.insert textarea {
    border:1px solid #e5e5e5;
    padding:20px;
    width:94.3%;
    font-size:12px;
    line-height:20px;
    resize:none;
    overflow-y:auto;
    height:253px
}
.tFree_Insert .free_pw_check {
    display:inline-block;
    font-size:13px;
    color:#0e0e0e;
    margin:7px 0 7px 0px
}
.tFree_Insert .free_pw_check label {
    height:11px;
    line-height:11px;
    margin-right:10px;
}
.tFree_Insert .free_pw_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tFree_Insert .free_pw_check label span {
    width: 11px;
    height: 11px;
    margin-right:3px;
    margin-bottom:-1px;
    display: inline-block;
    background: url("../img/common/input_radio.png");
}
.tFree_Insert .free_pw_check label input:checked + span {
    background: url("../img/common/input_radio_checked.png");
}
.tFree_Insert .btn_file_up {
    color:#fff;
    font-size:12px;
    height:28px;
    line-height:28px;
    width:100px;
    background:#898989;
}
.tFree_Insert .btn_file_up:active {
    color:#fff;
    font-size:12px;
    height:28px;
    line-height:28px;
    width:100px;
    background:#373737;
}
.btn_free_insert {
    width:68px;
    height:32px;
    line-height:32px;
    color:#fff;
    background:#765a60
}
.btn_free_insert:active {
    background:#e5e5e5
}
.btn_free_insert_cancel {
    width:68px;
    height:32px;
    line-height:32px;
    color:#fff;
    background:#898989
}
.btn_free_insert_cancel:active {
    background:#e5e5e5
}
.btn_free_insert_area {
    margin:11px auto
}

/* === 자료실 === */
.tDownload_Board {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tDownload_Board th {
    font-size:13px;
    color:#2e2d2d;
    padding:16px 0;
    background:#f9f9f9;
    border-bottom:1px solid #e5e5e5 ;
}
.tDownload_Board td {
    font-size:13px;
    text-align:left;
    padding:14px 20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tDownload_Board td.textC {
    text-align:center;
    padding:14px 0;
}
.tDownload_Board td.pix_img img {
    width:65px;
    height:65px;
}
.tDownload_Board td a {
    color:#2e2d2d
}
.tDownload_Board .download_check {
}
.tDownload_Board .download_check label {
    height:11px;
    line-height:11px
}
.tDownload_Board .download_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tDownload_Board .download_check label span {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: url("../img/common/input_checkbox03.gif");
}
.tDownload_Board .download_check label input:checked + span {
    background: url("../img/common/input_checkbox_checked03.gif");
}

/* === 갤러리형 게시판 ===*/
.tGallery_list {
    margin-top:10px;
    overflow:hidden;
    border-bottom:1px solid #e5e5e5
}
.tGallery_list li {
    float:left;
    height:255px;
    text-align:center;
    width:150px;
    margin-right:43px
}
.tGallery_list li:nth-child(4n+4) {
    margin-right:0
}
.tGallery_list li .gallery_check {
    display:block;
    text-align:left;
    margin:0px 0 10px 0px
}
.tGallery_list li .gallery_check img {
    width:150px;
    height:150px;
}
.tGallery_list li .gallery_check label {
    height:11px;
    line-height:11px
}
.tGallery_list li .gallery_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.tGallery_list li .gallery_check label span {
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-bottom:3px;
    background: url("../img/common/input_checkbox03.gif");
}
.tGallery_list li .gallery_check label input:checked + span {
    background: url("../img/common/input_checkbox_checked03.gif");
}
.tGallery_list li.no_data {
    float:none;
    width:100%;
    text-align:center;
    padding:30px 0;
    font-size:12px;
    color:#2e2d2d
}
.gallery_info {
    font-size:11px;
    color:#2e2d2d;
    line-height:16px;
    margin:10px 0 0
}

.bbs_icon_new{font-size:10px; color:#008CFF; margin-left:3px;}
.bbs_icon_hot{font-size:10px; color:#FF0004; margin-left:3px;}

.bbs_banner_top{margin-bottom:30px;}
.bbs_banner_top img{width:100%;}
.bbs_banner_bottom img{width:100%;}

.bbs_insert_auto{color:#1F87E8; font-weight:bold;}
.bbs_insert_input{width:180px; margin-left:15px;}
.bbs_insert_txt{font-size:11px; padding-top:8px; color:#A2A2A2; display:inline-block;}

.bbs_g_thum{padding-top:10px;}
.bbs_g_thum > img{
    width:77px;
    height:77px;
}

/* 커뮤니티 레이아웃 */
.community_count{margin-bottom:5px;color:#765a60;}
.free_comment_write.nity_write .free_comment_form label{right:90px;}
.free_comment_write.nity_write .free_comment_form textarea{width:878px;}

/* 레시피 레이아웃 */
.popular_recipe{position:relative;}
.popular_recipe .recipe_tlt{
	z-index:50;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-139px;
}
.popular_recipe_slide{}
.popular_recipe_slide li{position:relative;}
.popular_recipe_slide li .slide_tlt{
	display:inline-block;
	width:100%;
	position:absolute;
	bottom:120px;
	text-align:center;
	font-size:16px;
	color:#fff;
}
.popular_recipe_slide li a img{width:1000px;height:370px;}

.popular_recipe .bx-wrapper .bx-pager {
	z-index:50;
	position:absolute;
	left:20px;
	bottom:15px;
}
.popular_recipe .bx-wrapper .bx-pager .bx-pager-item,
.popular_recipe .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
.popular_recipe .bx-wrapper .bx-pager.bx-default-pager a {
	position:relative;
	background: #fff;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 3px;	
	border-radius: 5px;
}
.popular_recipe .bx-wrapper .bx-pager.bx-default-pager a:hover,
.popular_recipe .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #878584;
}
.popular_recipe .bx-wrapper .bx-controls-direction{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 50;
}
.popular_recipe .bx-wrapper .bx-controls-direction a{
	display:inline-block;
	width: 42px;
	height: 42px;
	margin-left:2px;
	text-indent: -9999px;
}
.popular_recipe .bx-wrapper .bx-prev {
	background: url(../img/common/btn_slider_pre.png) no-repeat;
}
.popular_recipe .bx-wrapper .bx-next {
	background: url(../img/common/btn_slider_next.png) no-repeat;
}
.recipe_con{margin-top:76px;}
.recipe_con ul{overflow:hidden;}
.recipe_con ul li{
	float:left;
	width:320px;
	height:380px;
	margin:0 0 20px 20px;
	text-align:center;
	background-color:#efefef;
}
.recipe_con li:first-child,
.recipe_con li:nth-child(3n+4) {
	margin-left:0
}
.recipe_con ul li a{display:block;}
.recipe_con ul li span{display:block;}
.recipe_con ul li .goods_image_area {width:320px;height:226px;}
.recipe_con ul li .goods_image_area img{width:320px;height:226px;}
.recipe_con ul li .brand_title{margin-top:14px;font-size:16px;color:#333;}
.recipe_con ul li .product_info{margin-top:14px;padding:0 28px;text-align:left;font-size:13px;color:#666;}
.recipe_con ul li .star_score{margin-top:18px;}
.recipe_con ul li .star_score em{display:inline-block;margin-right:10px;vertical-align:middle;font-size:14px;color:#744644;}
.recipe_con ul li .star_score img{vertical-align:middle;}

.recipe_detail_con{overflow:hidden;}
.recipe_detail_con .left{float:left;width:530px;height:300px;}
.recipe_detail_con .left img{width:530px;height:300px;}
.recipe_detail_con .right{
	float:right;
	width:450px;
	height:300px;
	padding:26px 54px 0;
	border:5px solid #efefef;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_detail_con .right .tlt{
	display:block;
	position:relative;
	height:52px;
	margin-bottom:36px;
	font-size:24px;
	font-weight:normal;
	text-align:center;
	color:#333;
}
.recipe_detail_con .right .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-34px;
	width:68px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.recipe_detail_con .right .product_info{font-size:13px;color:#333;}
.recipe_detail_con .right .teacher{margin-top:10px;font-size:13px;color:#333;}
.recipe_detail_con .right .teacher strong{color:#5d3231;}
.recipe_detail_con .right .star_score{margin-top:12px;text-align:center;}
.recipe_detail_con .right .star_score em{vertical-align:middle;font-size:13px;color:#333;}
.recipe_detail_con .right .star_score img{vertical-align:middle}
.recipe_detail_con .right .material{margin-top:15px;text-align:center;}
.recipe_detail_con .right .material span{
	height:20px;
	display:inline-block;
	padding-left:40px;
	color:#666;
}
.recipe_detail_con .right .material span em{
	font-size:14px;
	color:#333;
}
.recipe_detail_con .right .material .time{
	background: url(../img/community/recipe_time.png) no-repeat left top;
}
.recipe_detail_con .right .material .meals{
	margin-left:30px;
	background: url(../img/community/recipe_meals.png) no-repeat left top;
}
.recipe_detail_material{
	width:100%;
	padding:30px 20px;
	border:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

.recipe_detail_make{
	padding:20px 20px 0;
	border:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_detail_make img{
	max-width:100%;
}
.recipe_detail_make ul{}
.recipe_detail_make ul li{
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
	padding-bottom:18px;
	border-bottom:1px solid #e5e5e5;
}
.recipe_detail_make ul li span{display:block;}
.recipe_detail_make ul li .step{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:65px;
	padding-top:22px;
	text-align:center;
	background: url(../img/community/recipe_step_bg.png) no-repeat left top;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_detail_make ul li .step em{font-size:16px;color:#fab1b4;}
.recipe_detail_make ul li .txt{float:left;width:540px;margin-left:80px;}
.recipe_detail_make ul li .img {float:right;width:286px;height:172px;}
.recipe_detail_make ul li .img img{
	width:286px;
	height:172px;
}
.recipe_detail_make ul li .noimg{
	line-height:172px;
	text-align:center;
	width:286px;
	height:172px;
	background-color:#f7f8fa;
}
.recipe_detail_make ul li .noimg img{
	display:inline-block;
	width:72px;
	height:72px;
	vertical-align:middle;
}
.recipe_slide_dubble{
	height:416px;
	margin-top:40px;
	padding:20px 0 24px;
	background-color:#e8dbd9;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_slide_dubble_con{overflow:hidden;width:1000px;margin:0 auto;}
.recipe_slide_dubble_con .category_stit{margin-top:0;}
.recipe_slide_dubble_con .left{
	float:left;
}
.recipe_slide_dubble_con .left .left_con{
	position:relative;
	width:482px;
	height:340px;
	border-top:1px solid #bea3a9;
	background-color:#fff;
}
.recipe_slide_dubble_con .left_con li{padding-top:82px;text-align:center;}
.recipe_slide_dubble_con .left_con span{display:block;}
.recipe_slide_dubble_con .left_con .goods_image_area{width:170px;height:120px;}
.recipe_slide_dubble_con .left_con .goods_image_area img{width:170px;height:120px;}
.recipe_slide_dubble_con .left_con .brand_title{margin-top:8px;font-size:13px;color:#777;}
.recipe_slide_dubble_con .left_con .product_info{margin-top:8px;font-size:12px;color:#777;}
.recipe_slide_dubble_con .left_con .bx-wrapper .bx-controls-direction {
	z-index: 50;
}
.recipe_slide_dubble_con .left_con .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	display:inline-block;
	outline: 0;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}
.recipe_slide_dubble_con .left_con .bx-wrapper .bx-prev {
	left:0;
	background: url(../img/common/btn_slider_pre.png) no-repeat;
}
.recipe_slide_dubble_con .left_con .bx-wrapper .bx-next {
	right:0;
	background: url(../img/common/btn_slider_next.png) no-repeat;
}

.recipe_slide_dubble_con .right{
	float:right;
}
.recipe_slide_dubble_con .right_con{
	position:relative;
	width:500px;
	height:340px;
	border-top:1px solid #bea3a9;
	background-color:#fff;
}
.recipe_slide_dubble_con .right_con li{
	height:340px;
	padding:2px 0 2px;
	text-align:center;
	border:1px solid #fff;
	background-color:#fff;/* 사파리 폰트 깨짐 방지 */
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_slide_dubble_con .right_con .goods_image_area{
	width:210px;
	height:210px;
	text-align:center;
}
.recipe_slide_dubble_con .right_con .goods_image_area img{
	width:210px;
	height:210px;
}
.recipe_slide_dubble_con .right_con span{display:block;}
.recipe_slide_dubble_con .right_con .brand_title{margin-top:8px;color:#777;}
.recipe_slide_dubble_con .right_con .goods_title{margin-top:8px;font-size:13px;color:#333;font-weight:bold;}
.recipe_slide_dubble_con .right_con .price_info{margin-top:8px;font-size:19px;color:#744644;font-weight:bold;}
.recipe_slide_dubble_con .right_con .price_info em{color:#666;font-size:11px;font-weight:normal;}
.recipe_slide_dubble_con .right_con .star_score{margin-top:8px;}
.recipe_slide_dubble_con .right_con .star_score em{vertical-align:middle;font-size:11px;color:#744644;}
.recipe_slide_dubble_con .right_con .star_score img{vertical-align:middle;}
.recipe_slide_dubble_con .right_con .bx-wrapper .bx-controls-direction {
	z-index: 50;
}
.recipe_slide_dubble_con .right_con .bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	display:inline-block;
	outline: 0;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}
.recipe_slide_dubble_con .right_con .bx-wrapper .bx-prev {
	left:0;
	background: url(../img/common/btn_slider_pre.png) no-repeat;
}
.recipe_slide_dubble_con .right_con .bx-wrapper .bx-next {
	right:0;
	background: url(../img/common/btn_slider_next.png) no-repeat;
}

/* 세미나 레이아웃 */
.seminar_con{}
.application_box{
	position:relative;
	overflow:hidden;
	margin-bottom:16px;
	padding:11px;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.application_box .img{float:left;width:260px;height:178px;border:1px solid #ddd;}
.application_box .img a{width:260px;height:178px;}
.application_box .img a img{width:260px;height:178px;}
.application_box .txt_area{float:left;margin:24px 0 0 30px;}
.application_box .txt_area .tlt{display:block;margin-bottom:45px;font-size:18px;color:#333;}
.application_box .txt_area .day{overflow:hidden;margin-bottom:6px;color:#333;}
.application_box .txt_area .day em{
	float:left;
	display:block;
	width:90px;
	height:21px;
	line-height:19px;
	margin-right:14px;
	text-align:center;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.application_box .txt_area .day span{float:left;display:block;line-height:20px;padding-right:5px;}
.application_box .notice{
	position:absolute;
	top:50%;
	right:30px;
	margin-top:-21px;
	width:120px;
	height:42px;
	line-height:42px;
	color:#fff;
	text-align:center;
	background-color:#898989;
}
.application_box .notice.on{background-color:#765a60;}

.seminar_detail_con{overflow:hidden;}
.seminar_detail_con .left{float:left;width:300px;height:206px;}
.seminar_detail_con .left img{width:300px;height:206px;}
.seminar_detail_con .right{
	float:right;
	width:680px;
	height:206px;
	padding:36px 54px;
	border:5px solid #efefef;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.seminar_detail_con .right .tlt{
	display:block;
	position:relative;
	height:52px;
	margin-bottom:36px;
	font-size:24px;
	font-weight:normal;
	text-align:center;
	color:#333;
}
.seminar_detail_con .right .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-34px;
	width:68px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.seminar_detail_con .right .product_info{text-align:center;font-size:13px;color:#333;}

.semina_detailr_method{
	overflow:hidden;
	margin-top:20px;
	border:1px solid #ddd;
	background: url(../img/community/semina_detailr_method_bg.gif) repeat-y;
}
.semina_detailr_method li{
	float:left;
	width:250px;
	min-height:180px;
	margin-left:-1px;
	padding:27px 10px 10px;
	text-align:center;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.semina_detailr_method li:first-child{
	margin-left:0;
}
.semina_detailr_method li .tlt{display:block;font-size:14px;color:#5d3231;}
.semina_detailr_method li .img{display:block;margin-top:16px;}
.semina_detailr_method li .txt{display:block;margin-top:16px;color:#666;}

.seminar_detail_desc{overflow:hidden;margin-top:14px;}
.seminar_detail_desc ul{
	overflow:hidden;
	float:right;
}
.seminar_detail_desc ul li{float:left;margin-left:10px;text-align:center;}
.seminar_detail_desc ul li .img{display:block;}
.seminar_detail_desc ul li .tlt{display:block;margin-top:4px;color:#93646e;}
.seminar_detail_desc ul li .txt{display:block;margin-top:2px;color:#666;}

.seminar_detail_scon{
	width: 100%;
	padding:20px;
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}
.seminar_detail_scon li{
	line-height:24px;
	font-size:14px;
	color:#333;
}
.seminar_detail_scon .point_01{color:#c95b72;}
.seminar_detail_scon .btn_area{
	margin:20px 0 0 0;
}
.seminar_detail_scon .order_agree_check label{
	font-size:14px;
	color:#5d3231;
}
.seminar_detail_scon .order_agree_check label span {
    width: 14px;
    height: 14px;
	margin-bottom:-3px;
    background: url("../img/common/input_checkbox06.gif");
}
.seminar_detail_scon .order_agree_check label input[type=checkbox]:checked + span {
    background: url("../img/common/input_checkbox_checked06.gif");
}
.seminar_detail_scon .nonmember_agree_scroll{color:#999;}
.seminar_detail_reference{
	margin-top:36px;
	padding:26px 30px;
	background-color:#f2eced;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}
.seminar_detail_reference .tlt{display:block;font-size:14px;color:#5d3231;}
.seminar_detail_reference ul{margin-top:14px;}
.seminar_detail_reference li{
	padding-left:10px;
	background: url(../img/community/bul_seminar.png) no-repeat left 50%;
}

/* 베스트바이어 레이아웃 */
.popular_buyer{
	position:relative;
	width:1000px;
	height:330px;
	padding:18px;
	margin-bottom:34px;
	background-color:#f2eced;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}
.popular_buyer .buyer_tlt{
	position:absolute;
	top:50%;
	left:64px;
	margin-top:-60px;
}
.popular_buyer .buyer{
	overflow:hidden;
	margin-left:390px;
	padding:18px;
	border:1px solid #ddd;
	background-color:#fff;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}
.popular_buyer .buyer .img{float:left;}
.popular_buyer .buyer .txt_area{float:left;width:256px;margin-left:26px;color:#333;}
.popular_buyer .buyer .txt_area .tlt{margin-top:70px;font-weight:bold;font-size:18px;}
.popular_buyer .buyer .txt_area .txt{margin-top:25px;font-weight:bold;font-size:14px;}
.popular_buyer .buyer .txt_area .addp{margin-top:25px;font-size:14px;}
.buyer_con{}
.buyer_con ul{overflow:hidden;}
.buyer_con ul li{
	float:left;
	overflow:hidden;
	width:490px;
	margin:20px 0 0 20px;
	padding:20px;
	border:1px solid #ddd;
	background-color:#fff;
	-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;
}
.buyer_con ul li:nth-child(odd){margin-left:0;}
.buyer_con ul li:nth-child(1),
.buyer_con ul li:nth-child(2){margin-top:0;}
.buyer_con ul li .img{float:left;width:208px;height:208px;}
.buyer_con ul li .img img{width:208px;height:208px;}
.buyer_con ul li .txt_area{float:left;width:220px;margin-left:20px;color:#333;}
.buyer_con ul li .txt_area .tlt{margin-top:40px;font-weight:bold;font-size:16px;}
.buyer_con ul li .txt_area .txt{margin-top:25px;font-weight:bold;font-size:13px;}
.buyer_con ul li .txt_area .txt2{margin-top:20px;font-size:13px;}
.buyer_con ul li .txt_area .addp{margin-top:25px;font-size:13px;}
.buyer_con ul li .txt_area .year{margin-top:50px;font-size:13px;}

.buyer_detail_con{overflow:hidden;}
.buyer_detail_con .left{position:relative;float:left;width:444px;height:340px;}
.buyer_detail_slide{}
.buyer_detail_slide li{}
.buyer_detail_slide li a img{width:340px;height:340px;}
.buyer_detail_con .bx-wrapper .bx-controls-direction{
	z-index: 50;
}
.buyer_detail_con .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top:-21px;
	display:inline-block;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}
.buyer_detail_con .bx-wrapper .bx-prev {
	left: 0;
	background: url(../img/common/btn_slider_pre.png) no-repeat;
}
.buyer_detail_con .bx-wrapper .bx-next {
	right: 0;
	background: url(../img/common/btn_slider_next.png) no-repeat;
}

.buyer_detail_con .right{
	float:right;
	width:536px;
	height:340px;
	padding:36px 24px;
	text-align:center;
	border:5px solid #efefef;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.buyer_detail_con .right .tlt{
	display:block;
	position:relative;
	height:52px;
	margin-bottom:36px;
	font-size:24px;
	font-weight:normal;
	color:#333;
}
.buyer_detail_con .right .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-34px;
	width:68px;
	display:inline-block;
	border-bottom:1px solid #906c6c;
}
.buyer_detail_con .right .word{text-align:center;font-weight:bold;font-size:14px;color:#333;}
.buyer_detail_con .right .product_info{margin-top:25px;text-align:center;font-size:13px;color:#333;}
.buyer_detail_con .right .info_area{overflow:hidden;display:inline-block;margin-top:40px;text-align:left;font-size:13px;color:#333;}
.buyer_detail_con .right .info_area ul{float:left;margin-left:30px;}
.buyer_detail_con .right .info_area li{padding-left:10px;background: url("../img/common/bul_dot02.png") no-repeat left 50%;}
.buyer_detail_con .right .info_area li strong{display:inline-block;margin-right:5px;color:#5d3231;}

.buyer_detail_explanation{
	width:100%;
	margin-top:62px;
	padding:28px 20px;
	border:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.buyer_detail_explanation img{
	max-width:100%;
}
/* 맛집 발견 레이아웃 */
.foundation_con{}
.foundation_con .order_agree_check label{
	font-size:14px;
}
.foundation_con .order_agree_check label span {
    width: 14px;
    height: 14px;
	margin-bottom:-3px;
    background: url("../img/common/input_checkbox06.gif");
}
.foundation_con .order_agree_check label input[type=checkbox]:checked + span {
    background: url("../img/common/input_checkbox_checked06.gif");
}

/* 대리점 소개 레이아웃 */
.cooperative_detail_con{overflow:hidden;position:relative;}
.cooperative_detail_slide{}
.cooperative_detail_slide li a{width:208px;height:208px;}
.cooperative_detail_slide li a img{width:208px;height:208px;}
.cooperative_detail_con .bx-wrapper .bx-controls-direction{
	z-index: 50;
}
.cooperative_detail_con .bx-wrapper .bx-controls-direction a{
	position: absolute;
	top: 50%;
	margin-top:-21px;
	display:inline-block;
	width: 42px;
	height: 42px;
	text-indent: -9999px;
}
.cooperative_detail_con .bx-wrapper .bx-prev {
	left: 0;
	background: url(../img/common/btn_slider_pre.png) no-repeat;
}
.cooperative_detail_con .bx-wrapper .bx-next {
	right: 0;
	background: url(../img/common/btn_slider_next.png) no-repeat;
}

/* 사장님들 보세요 레이아웃 */
.president_con{
}
.president_con .news_con{
	position:relative;
	overflow:hidden;
	min-height:223px;
	margin-top:20px;
	padding:10px 40px 10px 10px;
	border:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.president_con .news_con:first-child{margin-top:0;}
.president_con .news_con .img{
	float:left;
	width:300px;
	height:200px;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.president_con .news_con .img img{width:100%;}
.president_con .news_con .txt_area{float:right;width:620px;}
.president_con .news_con .txt_area .tlt{margin-top:26px;font-size:18px;}
.president_con .news_con .txt_area .tlt a{color:#5d3231;}
.president_con .news_con .txt_area .txt{margin-top:23px;padding-bottom:50px;font-size:13px;color:#373737;}
.president_con .news_con .txt_area .count{
	position:absolute;
	right:48px;
	bottom:16px;
}
.president_con .news_con .txt_area .count .hits{margin-bottom:5px;}
.president_con .news_con .txt_area .count .hits strong{display:inline-block;margin-left:5px;color:#765a60;}
.president_con .news_con .txt_area .count .day{}

/* 요리전수비법 레이아웃 */
.popular_food{position:relative;}
.popular_food .food_tlt{
	z-index:50;
	position:absolute;
	top:100px;
	left:50%;
	margin-left:-224px;
}
.popular_food .food_img img{width:1000px;height:336px;}

.food_con{margin-top: 76px;}
.food_con .btn_area{margin-top:10px;text-align:right;}
.food_con .food_box{
	position:relative;
	overflow:hidden;
	margin-bottom:16px;
	padding:11px;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.food_con .food_box .img{float:left;width:260px;height:178px;border:1px solid #ddd;}
.food_con .food_box .img a{width:260px;height:178px;}
.food_con .food_box .img a img{width:260px;height:178px;}
.food_con .food_box .txt_area{float:left;width:650px;margin:24px 0 0 30px;}
.food_con .food_box .txt_area .tlt{display:block;margin-bottom:5px;font-weight:normal;font-size:18px;color:#333;}
.food_con .food_box .txt_area .txt{min-height:72px;font-size:12px;color:#7c7c7c;}
.food_con .food_box .txt_area .s_txt{overflow:hidden;margin-top:6px;color:#333;}
.food_con .food_box .txt_area .s_txt em{
	float:left;
	display:block;
	width:90px;
	height:21px;
	line-height:19px;
	margin-right:14px;
	text-align:center;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.food_con .food_box .txt_area .s_txt span{float:left;display:block;line-height:20px;}
.food_con .food_box .txt_area .count{
	position:absolute;
	right:48px;
	bottom:16px;
}
.food_con .food_box .txt_area .count .hits{margin-bottom:5px;}
.food_con .food_box .txt_area .count .hits strong{display:inline-block;margin-left:5px;color:#765a60;}
.food_con .food_box .txt_area .count .day{}

.food_word{
	position:relative;
	margin-top:54px;
	padding:63px 20px 20px;
	background-color:#e8dbd9;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.food_word .tlt{
	position:absolute;
	top:35px;
	left:20px;
}
.food_word .word_box{
	overflow-y:scroll;
	width:100%;
	height:185px;
	padding:28px 20px 20px;
	font-size:13px;
	color:#909090;
	border:1px solid #e5e5e5;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

.food_essential{margin-bottom: 10px;font-size: 12px;font-weight: 100;}
.food_essential em{margin-right: 3px;color: #ff0000;}
.food_desc{margin:5px 0 30px;color:#999;}