@charset "utf-8";

/* === 고객센터 === */
#customer_location {
    width:1200px;
    margin:0 auto 32px;
    font-weight:700;
    letter-spacing:-1px;
}
#customer_location > span.location_bar {
    display:inline-block;
    width:2px;
    height:11px;
    margin:0 14px;
    background:url(../img/customer/location_bar.png) no-repeat left 2px
}
#customer_location > span  {
    margin:0 11px;
    font-weight:100
}
#customer_location > a:first-child {
    display: inline-block;
    width: 102px;
    height: 32px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    background-color: #626262;
}
.sub_title.col00{
	color:#000;
}
.customer {
    overflow:hidden;
}
/* === 고객센터 왼쪽 메뉴 === */
.customer_side_area {
    float:left;
    width:200px;
    height:100%;
}
.customer_side {
    margin-bottom:46px
}
.customer_side li {
    line-height:43px;
}
.customer_side li a {
    padding-top:9px;
    color:#7b7b7b;
    font-size:14px;
    height:39px;
    font-weight:700;
    background:url(../img/customer/side_menu_bar.gif) no-repeat left top
}
.customer_side li a:hover,
.customer_side li a.selected {
    color:#5d3231;
}
.customer_side_s{
	margin:0px 0 10px 20px;
}
.customer_side_s li {
    line-height:18px;
}
.customer_side_s li a {
    color:#a5a5a5;
    font-size:12px;
    font-weight:100;
    background:none
}
.customer_side_s li a:hover,
.customer_side_s li a.selected {
    color: #5d3231;
    font-weight: bold;
}
.customer_side_info {
    background:url(../img/customer/customer_side_info_dotline.png) repeat-x left top;
}
.customer_side_info li {
    font-size:11px;
    line-height:16px;
    background:url(../img/customer/customer_side_info_dotline.png) repeat-x left bottom;
    padding:11px 0 17px
}
.side_info_tit {
    display:block;
    font-size:10px;
    font-weight:700;
}
.side_info_tel {
    display:block;
    font-size:12px;
    font-weight:700;
    margin-bottom:14px
}

/* === 고객센터 오른쪽 컨텐츠 === */
.customer_content {
    float:right;
    width:770px;
}
.customer_search_area {
    height:40px;
    width:100%;
    overflow:hidden;
    margin:19px 0 40px;
}/*160923*/
.customer_search_area label {
    display:inline-block;
    font-size:18px;
    height:29px;
	color:#765a60;
    line-height:29px;
    font-weight:700;
    width:131px;
    padding-left:45px;
    background:url(../img/customer/icon_customer_search.png) no-repeat left top
}
.customer_search_area > input {
    font-size:14px;
    width:493px;
    height:40px;
    line-height:34px;
    padding:0 13px;
    border:1px solid #765a60;
     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.customer_search_area > button {
    font-size:14px;
    color:#fff;
    width:101px;
    height:40px;
    background:#765a60
}
.customer_gnb{
	width:770px;
	height:37px;
	margin-bottom:15px;
	background:url(../img/customer/customer_gnb_bg.png) no-repeat left top;
	background-size:770px;
}
.customer_gnb li{
	float:left;
	width:25%;
	line-height:37px;
	text-align:center;
	background:url(../img/customer/customer_gnb_line.gif) no-repeat left 50%
}
.customer_gnb li:first-child{background-image:none;}
.customer_gnb li a{
	color:#fff;
}
.customer_main_list{
    height:260px;
	margin-bottom:15px;
    padding:30px 17px 12px 21px;
    border:1px solid #e5e5e5;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
h3.customer_main_list_tit {
    position:relative;
    font-size:16px;
    color:#2b2b2b;
    font-weight:700;
    margin-bottom:20px
}
h3.customer_main_list_tit > button {
    position:absolute;
    right:0;
    top:0
}
.customer_main_slist li {
    margin:11px 0;
    height:25px;
    vertical-align:top;
}
.customer_main_slist li a {
    width:90%;
    height:25px;
    line-height:25px;
    overflow:hidden;
    display:inline-block;
}
.customer_main_slist li span.no {
    float:left;
    padding:0px 8px;
    height:23px;
    line-height:23px;
    font-size:10px;
    color:#2e2d2d;
    margin-right:6px;
    border:1px solid #ddd
}
.customer_middle_menu {
	overflow:hidden;
	height:103px;
	margin-bottom:15px;
	border:1px solid #e5e5e5;
	border-top:4px solid #765a60;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.customer_middle_menu li {
	float:left;
	width:96px;
	height:98px;
	text-align:center;
	border-left:1px solid #e5e5e5;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.customer_middle_menu li:first-child{
	border-left:0;
}
.customer_middle_menu li span{display:block;}
.customer_middle_menu li a{
	display:block;
	height:100%;
	padding-top:16px;
	color:#765a60;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.customer_middle_menu li a:hover{
	background-color:#e6e1e2;
}
.customer_middle_menu.faq_tabs{margin-bottom:20px;}
.customer_middle_menu.faq_tabs li{
	padding-top:16px;
    cursor: pointer;
}
.customer_middle_menu.faq_tabs li.active,
.customer_middle_menu.faq_tabs li:hover{
	background-color:#e6e1e2;
}
.customer_bottom_con{
	overflow:hidden;
}
.customer_notice_con{
	float:left;
	width:49%;
    height:265px;
    padding:30px 17px 12px 21px;
    border:1px solid #e5e5e5;
    -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.customer_notice_slist li {
    margin:11px 0;
    height:25px
}
.customer_notice_slist li a {
    padding-left:7px;
    background:url(../img/customer/bul_notice.gif) no-repeat left 9px;
    width:75%;
    height:18px;
    line-height:18px;
    overflow:hidden;
    display:inline-block;
}
.customer_notice_slist li span {
    float:right
}
.customer_img{
	float:right;
	width:49%;
}
.customer_img img{width:100%;height:265px;}

/* === 자주묻는 질문 메뉴 === */
/*ul.faq_tabs {
    width: 770px;
    margin-bottom:20px;
    z-index:0;
    border-left: 1px solid #e5e5e5;
    border-right: 0px solid #e5e5e5;
    overflow:hidden;
}
ul.faq_tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:12.49%;
    height: 44px;
    color:#373737;
    font-size:13px;
    line-height: 42px;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    border-left: none;
    font-weight: normal;
    background: #fff;
    overflow: hidden;
    position: relative;
     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
ul.faq_tabs li:nth-child(n+5){}
ul.faq_tabs li.active {
    height: 44px;
	font-weight: bold;
    background: #f2eced;
    border-bottom:3px solid #765a60;
     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}*/
.faq_tabs_content {
    display: none;
}
h3.customer_con_tit {
    margin-top:14px;
    font-size:16px;
    color:#373737;
    padding-left:17px;
    background:url(../img/customer/bul_h3_tit.png) no-repeat left 2px
}
h3.customer_con_tit span {
    display:block;
    margin-left:-17px;
    margin-top:11px;
    font-size:12px;
    font-weight:100;
    color:#acacac
}

/* === 자주묻는 질문 테이블 === */
.faq_title {
    font-size:13px;
    font-weight:700;
    color:#2e2d2d;
    padding:16px 0;
    background:#f2eced;
    border-top:1px solid #e5e5e5 ;
    border-bottom:1px solid #e5e5e5 ;
}
.faq_title span.faq_no {
    display:inline-block;
    width:8%;
    text-align:center;
}
.faq_title span.faq_sort {
    display:inline-block;
    width:18%;
    text-align:center;
}
.faq_title span.faq_tit {
    display:inline-block;
    width:73%;
    text-align:center
}
.accordion-section-title {
    display:block;
    border-bottom:1px solid #e5e5e5;
    text-align:center;
    font-weight:normal;
    letter-spacing:-1px;
    font-size:13px;
    padding:14px 0;
    overflow:hidden;
    cursor: pointer;
}
span.faq_no {
    display:inline-block;
    width:8%;
    vertical-align:top;
    text-align:center;
}
span.faq_sort {
    display:inline-block;
    width:18%;
    text-align:center;
    vertical-align:top
}
span.faq_tit {
    display:inline-block;
    width:65%;
    vertical-align:top;
    text-align:left
}
span.icon_q {
    display:inline-block;
    font-weight:700;
    width:4%;
}
span.btn_faq_arrow {
    float:right;
    display:inline-block;
    width:3%;
    height:7px;
    margin-top:2px;
    background:url(../img/customer/icon_faq.png) no-repeat left top
}
.accordion-section-title.active span.btn_faq_arrow {
    background:url(../img/customer/icon_faq.png) no-repeat left bottom
}

/* === 자주묻는질문 Content === */
.accordion-section-content {
    display:none;
    padding:20px;
    margin-top:-1px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5;
    background:#fafafa url(../img/customer/customer_side_info_dotline.png) repeat-x left top;
}
.accordion-section-content div {
    margin-left:188px
}
.accordion-section-content div span.icon_a {
    display:inline-block;
    font-weight:700;
    vertical-align:top;
    width:32px;
}
.accordion-section-content div .faq_con {
    display:inline-block;
    margin-left:0;
    line-height:20px;
    font-size:13px;
    text-align:left;
    line-height:20px;
    vertical-align:top;
}
.customer_content .table_top {
    text-align:right;
    height:30px;
    margin-bottom:5px
}
.customer_content .table_top select {
    height:28px
}
.customer_content .table_top > input[type="text"] {
    border:1px solid #e5e5e5;
    border-right:none;
    width:154px;
    height:16px;
    padding:5px 0 5px 5px;
    font-size:12px;
    letter-spacing:-1px;
}
.customer_content .table_top > button {
    width:26px;
    height:28px;
    border:1px solid #e5e5e5;
    border-left:none;
    background:url(../img/common/icon_search.png) no-repeat 5px 6px
}

/* === 공지사항 === */
.tNotice_Board {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tNotice_Board th {
    font-size:13px;
    color:#2e2d2d;
    padding:16px;
    background:#f2eced;
    border-bottom:1px solid #e5e5e5 ;
}
.tNotice_Board td {
    font-size:13px;
    text-align:left;
    padding:14px 20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tNotice_Board td.textC {
    text-align:center
}
.tNotice_Board td a {
    color:#2e2d2d
}
.label_red {
    color:#ff0000
}

/* === 공지사항 상세페이지 === */
.tNotice_View {
    width:100%;
    border-top:1px solid #e5e5e5
}
.tNotice_View th {
    font-size:13px;
    color:#2e2d2d;
    padding:15px;
    background:#f2eced;
    border-bottom:1px solid #e5e5e5 ;
}
.tNotice_View td {
    font-size:13px;
    text-align:left;
    padding:15px 20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tNotice_View td.view {
    padding:45px 50px;
    line-height:22px
}
.tNotice_View td a {
    color:#2e2d2d
}
.btn_notice_list {
    width:100px;
    height:32px;
    font-size:13px;
    line-height:32px;
    color:#fff;
    background:#765a60
}
.btn_notice_list:active {
    background:#000
}

/* === 1:1문의 게시판 === */
.tQna_Insert {
    width:100%;
    border-top:1px solid #e5e5e5
}
.tQna_Insert th {
    font-size:13px;
    font-weight:700;
    background:#f2eced;
    padding:7px 0px;
    border-bottom:1px solid #e5e5e5
}
.tQna_Insert td {
    font-size:13px;
    text-align:left;
    padding:7px 16px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tQna_Insert td input[type="text"],
.tQna_Insert td input[type="password"] {
    border:1px solid #e5e5e5;
    padding:5px;
    font-size:12px;
    letter-spacing:-1px;
    height:16px
}
.tQna_Insert td.insert  {
    padding:7px 0 7px 16px ;
}
.tQna_Insert td.insert textarea {
    border:1px solid #e5e5e5;
    padding:20px;
    font-size:12px;
    line-height:20px;
    resize:none;
    overflow-y:auto;
    height:253px
}
.btn_qna_insert {
    width:100px;
    height:32px;
    font-size:13px;
    line-height:32px;
    color:#fff;
    background:#765a60
}
.btn_qna_insert:active {
    background:#000
}
.btn_customer_area {
    margin:20px 0;
    text-align:center
}