@charset "utf-8";

#header {
	height:205px
}
/* === utility menu === */
#utility_menu {
	height:30px;
	background-color:#efefef;
}
.utility_menu_layout {
	width:970px;
	position:relative;
	margin:0 auto
}
.utility_menu_list {	
	height:30px;
	float:right;
	overflow:hidden
}
.utility_menu_list li {
	float:left;
	margin-left:14px;
	padding-left:14px;
	background:url(../img/header/utility_line.gif) no-repeat left 50%;
}
.utility_menu_list li:first-child {
	background-image:none;
}
.utility_menu_list li a {
	color:#908080;
	line-height:30px;
	font-size:12px	
}
.utility_menu_favorite {	
	height:30px;
	float:left;
	overflow:hidden
}
.utility_menu_favorite li {
	float:left;
	margin-left:14px;
	padding-left:14px;
	background:url(../img/header/utility_line.gif) no-repeat left 50%;
}
.utility_menu_favorite li:first-child {
	background-image:none;
	margin-left:0px;
	padding-left:0px;
}
.utility_menu_favorite li a {
	color:#908080;
	line-height:30px;
	font-size:12px	
}
/* === logo === */
.logo_area {
	height:130px
}
.logo_area_layout {
	width:970px;
	margin:0 auto;
	overflow:hidden
}
#logo {
	overflow:hidden;
	float:left;
	width:105px;
	margin:25px;
}
/* === search === */
#search {
	float:right;
	position:relative;
	width:364px;	
	margin-top:38px
}
#search > input {
	width:312px;
	height:26px;
	padding:5px;
	border:3px solid #baacaf
}
.btn_search {
	width:39px;
	height:42px;
	top:0;
	right:0px;
	position:absolute;
	border:3px solid #baacaf;
	border-left:none;
	background:#fff url(../img/header/btn_search.png) no-repeat center 50%
}
.btn_search:active {
	background:#ececec url(../img/header/btn_search.png) no-repeat center 50%	
}
.top_search_tag {
	width:360px;
	padding-top:12px;
	margin-left:4px;
	overflow:hidden
}
.top_search_tag strong{
	float:left;		
	color:#825353;
}
.top_search_tag ul {
	width:250px;
	height:16px;
	float:left;		
	overflow:hidden
}
.top_search_tag div {
	float:right;		
}
.top_search_tag li {
	float:left;		
	margin-bottom:5px;
}
.top_search_tag li a {
	padding:0 14px;
	color:#666;
	background:url(../img/header/top_search_tag_bar.gif) no-repeat right 50%
}
.top_search_tag li:last-child a {
	background:none
}

/* === gnb === */
#gnb {
	width:100%;
	height:45px;
	background-color:#4e4141;
	position:relative;
}
#gnb .gnb_con{
	position:relative;
	width:1000px;
	margin:0 auto;
	line-height:44px;
}
#gnb .gnb_con .all_menu{
	position:absolute;
	top:-5px;
	left:0;
	width:180px;
	height:50px;
	line-height:50px;
	padding-left:36px;
	text-align:left;
	background:#765a60 url(../img/header/btn_all.png) no-repeat 16px 50%;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	z-index:10;
}

#gnb .gnb_con .gnb_menu{
	display:none;
	z-index:100;
	position:absolute;
	top:45px;
	left:0;
	width:180px;
	height:578px;
	background-color:#827674;
}

/*메인만 적용 170418
#gnb .gnb_con .gnb_menu{
	display:none;
	z-index:100;
	position:absolute;
	top:45px;
	left:0;
	width:180px;
	height:578px;
	background:url(../img/header/gnb_bg.png) repeat left top;
}
메인만 적용 170418*/

/*170420 수정*/
#gnb .gnb_menu > ul{
	position:relative;
	height:234px;
	border-bottom:1px solid #b9b5b4;
}
#gnb .gnb_menu > ul > li:first-child{
	margin-top:0;
}
#gnb .gnb_menu > ul > li{
	margin-top:-1px;
	line-height:32px;
}
/*//170420 수정*/

#gnb .gnb_menu > ul > li > a{
	display:inline-block;
	width:100%;
	text-indent:24px;
	color:#fff;
	font-size:14px;
}

#gnb .gnb_menu > ul > li > a.on{
	color:#fff;
	background-color:#c1b4b7;
}
#gnb .gnb_3depth_menu{
	z-index:100;
	display:none;
	position:absolute;
	top:0;
	left:180px;
	width:448px;
	height:578px;
	padding:20px;
	border:1px solid #d8d8d8;
	border-left:none;
	box-shadow:10px 0px 22px -11px #000;
	-moz-box-shadow:10px 0px 22px -11px #000;
    -webkit-box-shadow:10px 0px 22px -11px #000;
	 -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#gnb .gnb_3depth_menu.gmenu1{background:#fff url(../img/header/gmenu1_bg.jpg) no-repeat left top;}
#gnb .gnb_3depth_menu.gmenu2{background:#fff url(../img/header/gmenu2_bg.jpg) no-repeat left top;}
#gnb .gnb_3depth_menu.gmenu3{background:#fff url(../img/header/gmenu3_bg.jpg) no-repeat left top;}
#gnb .gnb_3depth_menu.gmenu4{background:#fff url(../img/header/gmenu4_bg.jpg) no-repeat left top;}
#gnb .gnb_3depth_menu.gmenu5{background:#fff url(../img/header/gmenu6_bg.jpg) no-repeat left top;}/*170510 수정*/
#gnb .gnb_3depth_menu.gmenu6{background:#fff url(../img/header/gmenu5_bg.jpg) no-repeat left top;}/*170420 추가*/
#gnb .gnb_3depth_menu.gmenu7{background:#fff url(../img/header/gmenu7_bg.jpg) no-repeat left top;}/*170510 수정*/
#gnb .gnb_3depth_menu .gmenu_btn{
	position:absolute;
	top:29px;
	right:30px;
}
#gnb .gnb_3depth_menu h2{font-size:18px;color:#765a60;}
#gnb .gnb_3depth_menu a{font-size:14px;color:#765a60;}
#gnb .gnb_con .left{
	overflow:hidden;
	float:left;
	margin-left:180px;
}
#gnb .gnb_con .left li{
	float:left;
	padding:0 25px;
}
#gnb .gnb_con .left li a{
	font-weight:bold;
	font-size:14px;
	color:#f3eeee;
}
#gnb .gnb_con .right{
	overflow:hidden;
	float:right;
}
#gnb .gnb_con .right li{
	float:left;
	padding:0 20px;
	background:url(../img/header/gnb_right_line.gif) no-repeat left 50%
}
#gnb .gnb_con .right li:first-child{
	background-image:none;
}
#gnb .gnb_con .right li a{
	color:#e2d8d8;
}
/*170420 수정*/
#gnb .gnb_con .side_btn{
	border-bottom:1px solid #b9b5b4;
	padding:0 24px;
	line-height:38px;
	margin-bottom:5px;
}
/*//170420 수정*/
#gnb .gnb_con .side_btn a{
	line-height:normal;
	display:inline-block;
	color:#fff;
	font-size:14px;
}
#gnb .gnb_con .side_btn a img{
	vertical-align:middle;
}