@charset "utf-8";

.contents {
	width:1000px;
	margin:36px auto
}

/* === product list TypeA === */
.product_list_typeA {
	overflow:hidden;
	padding:22px 0;
}
.product_list_typeA li{
	position:relative;
	display:inline-block;
	width:235px;
	height:384px;
	margin-left:16px;
	padding:16px 0;
	text-align:center;
	vertical-align:top;
	border:1px solid #fff;
	background-color:#fff;/* 사파리 폰트 깨짐 방지 */
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.product_list_typeA li:first-child,
.product_list_typeA li:nth-child(4n+5) {
	margin-left:0
}
.product_list_typeA li:hover{
	border:1px solid #b3181e;
}
.product_list_typeA .goods_image_area{
	width:232px;
	height:210px;
	text-align:center;
}
.product_list_typeA .goods_image_area img{
	display:inline-block;
	width:210px;
	height:210px;
}
.product_list_typeA .goods_image_area .img_menu {	
	position:absolute;
	top:110px;	
	left:50%;
	margin-left:-52px;
	z-index:10
}
.product_list_typeA .goods_image_area .img_menu span {
	display:inline-block;
	width:32px;
	height:32px;
	margin:0 1.5px;
	border-radius:30px;
	background:url(../img/category/icon_image_smenu.png) no-repeat  
}
.product_list_typeA .goods_image_area .img_menu span.menu01 {
	background:url(../img/category/icon_image_smenu.png) no-repeat left; 	
}
.product_list_typeA .goods_image_area .img_menu span.menu02 {
	background:url(../img/category/icon_image_smenu.png) no-repeat -33px;
}
.product_list_typeA .goods_image_area .img_menu span.menu03 {
	background:url(../img/category/icon_image_smenu.png) no-repeat -63px;
}
.product_list_typeA .goods_image_area .img_menu span:active {
	background-color:#000;
	opacity: 0.5; 
	filter: alpha(opacity=50);
}
.product_list_typeA .brand_title{margin-top:6px;}
.product_list_typeA .brand_title a{color:#777;}
.product_list_typeA .goods_title{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: normal; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	margin-top:6px;
	padding:0 10px;
	font-size:13px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.product_list_typeA .goods_title a{width: 90%;color:#333;font-weight:bold;}
.product_list_typeA .price_info{margin-top:10px;font-size:19px;color:#744644;font-weight:bold;}
.product_list_typeA .price_info span{color:#666;font-weight:normal;}
.product_list_typeA .star_score{margin-top:6px;}
.product_list_typeA .star_score span{color:#744644;}

/* === TypeA 라벨 === */
.product_list_typeA .label_area {
	width:100%;
	margin-top:6px;
	overflow:hidden;
}
.product_list_typeA .label_area img {
	margin:0 2px 0 0 
}

/* === product list TypeB === */
.product_list_typeB {
	margin:0
}
.product_list_typeB > li {
	overflow:hidden;
	padding:30px 0 0;
}
.product_list_typeB_image_area {
	float:left;
	width:210px;
	height:210px;
	text-align:center;
}
.product_list_typeB_image_area a img {
	width:210px;
	height:210px;
}
.product_list_typeB li .product_list_typeB_title_area {
	float:left;
	width:348px;
	margin-left:45px;
	padding-top:70px;
}
.product_list_typeB li .product_list_typeB_title_area .brand_title {
	width:100%;
	line-height:20px;
	overflow:hidden;
}
.product_list_typeB li .product_list_typeB_title_area .brand_title a {
	font-size:14px;
	color:#777;
}
.product_list_typeB li .product_list_typeB_title_area .goods_title {
	margin-top:20px;
	width:100%;
	line-height:20px;
	overflow:hidden;
}
.product_list_typeB li .product_list_typeB_title_area .goods_title a {
	font-size:14px;
	color:#333;
}
/*.product_list_typeB_title_area .product_info {
	font-size:11px;
	color:#adadad;
	margin:16px 0;
	width:100%;
	line-height:15px;
	overflow:hidden;
}*/
.product_list_typeB_price_info {
	float:left;
	text-align:center;
	padding-top:70px;
}
.product_list_typeB_price_info li {
	margin:5px 0
}
/*.product_list_typeB_price_info li del {
	font-size:12px;
	color:#adadad
}
.sale_no {
	font-size:10px;
	color:#ff0000;
	padding-left:8px;
	margin-left:10px;
	font-weight:700;
	background:url(../img/category/icon_sale.png) no-repeat left 2px
}
.point_no {
	display:inline-block;
	height:15px;
	font-size:10px;
	padding-left:45px;
	background:url(../img/category/icon_point.gif) no-repeat left top
}*/
.product_list_typeB_price_info li.real_price {
	margin-bottom:10px;
	font-size:24px;
	font-weight:bold;
	color:#744644;
}
.product_list_typeB_price_info li.real_price span{
	font-size:16px;
	color:#666;
}
.product_list_typeB_price_info li img {
	vertical-align:middle
}
.check_point {
	font-size:12px;
	color:#744644
}
.product_list_typeB_btn_area {
	float:left;
	width:160px;
	margin:14px 0 0 90px
}
.product_list_typeB_btn_area button {
	width:160px;
	font-size:14px;
	height:55px;
	line-height:50px;
	font-weight:bold;
	background:#fff;
	margin-bottom:8px;
	border-radius:30px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.btn_checkout {
	font-weight:bold;
	color:#744644;
	border:3px solid #744644
}
.btn_cart {
	font-weight:bold;
	color:#6a6a6a;
	border:3px solid #999
}
.btn_favorite {
	font-weight:bold;
	color:#6a6a6a;
	border:3px solid #999
}
.btn_checkout:active {
	color:#fff;
	border:0;
	background:#744644
}
.btn_cart:active {
	color:#fff;
	border:0;
	background:#999
}
.btn_favorite:active {
	color:#fff;
	border:0;
	background:#999
}
/* === TypeB 라벨 === */
.product_list_typeB_title_area .label_area {
	width:100%;
	margin:4px 0;
	overflow:hidden;
}
.product_list_typeB_title_area .label_area img {
	margin:0 2px 0 0 
}

/* === 분류 메뉴 === */
.category_step1 {
    width:100%;
    margin:40px 0 50px 0;
    text-align:center;
}
.category_step1 .tlt{
    display:block;
    margin-bottom:18px;
    font-size:20px;
	font-weight:normal;
    color:#5d3231;
}
.category_step1 .depth{
	overflow:hidden;
    border:1px solid #ddd;
	border-bottom:0;
}
.category_step1 .depth ul{
}
.category_step1 .depth ul li{
	width:16.66%;
	height:44px;
	line-height:44px;
    float:left;
    display: block;
    border-left:1px solid #ddd;
    border-bottom:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.category_step1 .depth ul li:first-child,
.category_step1 .depth ul li:nth-child(6n+1){
    border-left:0;
}
.category_step1 .depth ul li a{
	display:block;
	font-size:14px;
    font-weight:700;
    color:#5d3231;
}
.category_step1 .depth ul li a.ov,
.category_step1 .depth ul li a:hover{
	background-color:#f2eced;
}

.category_step2 {
    width:100%;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	overflow:hidden;
}
.category_step2 li {
    float: left;	
    width:14.286%;  
}
.category_step2 li a {
	display:block;
    text-align:center;
    height: 44px;
    line-height: 44px;	
	color:#373737;
	font-size:12px;
	border-right: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-left: none;
    font-weight: 700;
    background: #fff;
    overflow: hidden;
	 -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.category_step2 li a:hover {
	color:#fff;
    background: #bbb;
}
.category_step2 li span {
	display:block;
    height: 44px;
    line-height: 44px;	
	border-right: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-left: none;
    background: #fff;
    overflow: hidden;
	 -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.category_step3 {
    width:100%;
	margin:30px 0 46px;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
.category_step3 th {
    text-align:left;
	color:#373737;
	font-size:12px;
    border-top: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
    font-weight: 700;
    background: #fff url(../img/category/3depth_filter_title_bar.gif) no-repeat right 18px;
	padding:16px 29px 16px 26px;
	vertical-align:top
}
.category_step3 th .category_check_all {
	display:inline-block;
	height:13px;
	font-weight:700;
	text-align:right
}
.category_step3 th .category_check_all label {
	height:13px
}
.category_step3 th .category_check_all label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.category_step3 th .category_check_all label span {
    width: 13px;
    height: 13px;
	margin-right:5px;
	margin-bottom:-2px;
    display: inline-block;
    background: url("../img/common/input_checkbox04.gif");
}
.category_step3 th .category_check_all label input[type=checkbox]:checked + span {
    background: url("../img/common/input_checkbox_checked04.gif");
}

.category_step3 td {
    text-align:left;
    padding:16px 29px 0px 50px;
	color:#373737;
	font-size:12px;
    border-top: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
}
.category_step3 td.brandselect {
	position:relative;
	padding:16px 129px 0px 50px;
}
.category_step3 td .category_check {
	display:inline-block;
	margin:0px 24px 24px 0;
	height:11px;
	text-align:right
}
.category_step3 td .category_check label {
	height:11px
}
.category_step3 td .category_check label input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.category_step3 td .category_check label span {
    width: 11px;
    height: 11px;
	margin-right:3px;
	margin-bottom:-2px;
    display: inline-block;
    background: url("../img/common/input_checkbox03.gif");
}
.category_step3 td .category_check label input[type=checkbox]:checked + span {
    background: url("../img/common/input_checkbox_checked03.gif");
}
.category_step3 td.textC {
    text-align:center;
    padding:0px 0px 0px 0px;
}
.btn_category_search {
	width:100px;
	height:32px;
	line-height:32px;
	color:#fff;
	background:#373737
}
.btn_category_search:active {
	background:#000
}
.btn_category_search_reset {
	width:100px;
	height:32px;
	line-height:32px;
	letter-spacing:-1px;
	padding-left:16px;
	color:#373737;
	background:#fff url(../img/category/icon_reset.png) no-repeat 12px 9px;
	border:1px solid #e5e5e5
}
.btn_category_search_reset:active {
	background-color:#e5e5e5;
}
.btn_brand_more {
	position:absolute;
	right:26px;
	bottom:27px;
	width:100px;
	height:32px;
	line-height:32px;
	color:#fff;
	background:#898989
}
.btn_brand_more:active {
	background:#373737
}

#category_new {
	width:100%;
	margin:50px auto 0
}
#category_best {
    width: 100%;
    margin: 50px auto;
	border-bottom:1px solid #ddd;
}
h3.category_middle_stit {
    font-size: 14px;
    color: #666;
    margin-bottom: 7px;
}
h3.category_middle_stit > em {
	display:inline-block;
	padding-right:5px;
	font-size:20px;
	color:#5d3231;
}
.category_product_menu {
	border-bottom:2px solid #92636d;
	padding:20px 0 10px;
	overflow:hidden;
}
.category_product_menu .select_box{
	height:32px;
	line-height:32px;
	min-height:32px;
	float:right;
}
.product_menu_list_left {
	float:left;
	height:32px;
	line-height:32px;
	overflow:hidden
}
.product_menu_list_left li {
	float:left;
	padding:0 10px;
	background:url(../img/product/product_menu_bar2.gif) no-repeat left 50%
}
.product_menu_list_left li:first-child{
	padding-left:0;
	background:none
}
.product_menu_list_left li a {
	padding:1px;
	color:#555;
	font-weight:700;
}
.product_menu_list_left li a:hover,
.product_menu_list_left li a.selected {
	color:#fff;
	background-color:#937d7c;
}
.product_menu_view_select {
	float:left;
	height:34px;
	line-height:34px;
	overflow:hidden
}
.product_menu_view_select li {
	float:left;
	margin-right:10px;
}
.product_menu_view_select li select {
	height:23px;
	padding:0px 4px;
	vertical-align:top
}
.product_menu_view_select li.btn_view_image {
	color:#959595;
	font-weight:700;
	cursor:pointer
}
.product_menu_view_select li.btn_view_image span.icon_view_image {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../img/category/icon_imageview.png) no-repeat left bottom
}
.product_menu_view_select li.btn_view_image span.icon_view_list {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../img/category/icon_listview.png) no-repeat left bottom
}
.product_menu_view_select li.selected {
	color:#000
}
.product_menu_view_select li.selected span.icon_view_image {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../img/category/icon_imageview.png) no-repeat left top
}
.product_menu_view_select li.selected span.icon_view_list {
	display:inline-block;
	width:10px;
	height:10px;
	background:url(../img/category/icon_listview.png) no-repeat left top
}



/* === 나의 관심상품 리스트 === */
.myfavorite_list {
	overflow:hidden;
	margin:10px 0 40px;
}
.myfavorite_list li{
	position:relative;
	display:inline-block;
	width:180px;
	height:auto;
	margin-left:12px;
	padding:16px 0;
	text-align:center;
	vertical-align:top;
	border:1px solid #fff;
	background-color:#fff;/* 사파리 폰트 깨짐 방지 */
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.myfavorite_list li:first-child,
.myfavorite_list li:nth-child(4n+5) {
	margin-left:0
}
.myfavorite_list li:hover{
	border:1px solid #b3181e;
}
.myfavorite_list .goods_image_area{
	width:180px;
	height:180px;
	text-align:center;
}
.myfavorite_list .goods_image_area img{
	display:inline-block;
	width:175px;
	height:180px;
}
.myfavorite_list .goods_image_area .img_menu {	
	position:absolute;
	top:110px;	
	left:50%;
	margin-left:-52px;
	z-index:10
}
.myfavorite_list .goods_image_area .img_menu span {
	display:inline-block;
	width:32px;
	height:32px;
	margin:0 1.5px;
	border-radius:30px;
	background:url(../img/category/icon_image_smenu.png) no-repeat  
}
.myfavorite_list .goods_image_area .img_menu span.menu01 {
	background:url(../img/category/icon_image_smenu.png) no-repeat left; 	
}
.myfavorite_list .goods_image_area .img_menu span.menu02 {
	background:url(../img/category/icon_image_smenu.png) no-repeat -33px;
}
.myfavorite_list .goods_image_area .img_menu span.menu03 {
	background:url(../img/category/icon_image_smenu.png) no-repeat -63px;
}
.myfavorite_list .goods_image_area .img_menu span:active {
	background-color:#000;
	opacity: 0.5; 
	filter: alpha(opacity=50);
}
.myfavorite_list .brand_title{margin-top:6px;}
.myfavorite_list .brand_title a{color:#777;}
.myfavorite_list .goods_title{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: normal; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	margin-top:6px;
	padding:0 10px;
	font-size:13px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.myfavorite_list .goods_title a{width: 90%;color:#333;font-weight:bold;}
.myfavorite_list .product_info{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: normal; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
    margin: 7px 0;
	padding:0 10px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.myfavorite_list .product_info a{width: 90%;color: #adadad;font-size: 11px;}
.myfavorite_list .price_info{margin-top:10px;font-size:19px;color:#744644;font-weight:bold;}
.myfavorite_list .price_info span{color:#666;font-weight:normal;}
.myfavorite_list .star_score{margin-top:6px;}
.myfavorite_list .star_score span{color:#744644;}

/* === TypeA 라벨 === */
.myfavorite_list .label_area {
	width:100%;
	margin-top:6px;
	overflow:hidden;
}
.myfavorite_list .label_area img {
	margin:0 2px 0 0 
}
