@charset "utf-8";

/* === quick menu === */
#quick_menu {
	position:absolute;
	top:360px;
	right:50%;
	margin-right:-620px;
	z-index:100
}
.quick_area {width:82px;}
.quick_coupon img{vertical-align:top;}
.quick_body {
	width:80px;
	overflow:hidden;
	background:#fff;
	border:1px solid #e7e3e2;
	border-top:none;
}
.quick_body .quick_tlt{
	display:block;
	margin-bottom:8px;
	text-align:center;
	font-size:11px;
	color:#4a3c32;
	line-height:22px;
	border-bottom:1px solid #e7e3e2;
}
.quick_body .quick_num,
.quick_body .quick_num2{
	font-family:'Malgun Gothic';
	width: 50px;font-size:11px;
	margin:5px auto;
	border-radius:10px;
	text-align:center;
	color:#fff;
	letter-spacing:1px;
	background-color:#625151;
}
.quick_area .current-index{color:#f1e9e2;}
.quick_view {overflow:hidden;height:75px;margin:0 0 0 0}
.quick_view li {
	text-align:center;
	margin:0 0 0
}
.quick_view li img{
	width:60px;
	height:60px;
}
.quick_view li span{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display:block;
	font-size:11px;
}
.btn_quick{
	width:80px;
	text-align:center;
}
.btn_quick_pre,
.btn_quick_next {
	width: 30px;
	height:20px;
	padding:0 5px;
	line-height:20px;
	display:inline-block;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.btn_quick_pre{text-align:right;}
.btn_quick_next{text-align:left;}
.btn_quick_pre img,
.btn_quick_next img {
	vertical-align:middle;
}
.btn_quick2{
	width:80px;
	text-align:center;
}
.btn_quick_pre2,
.btn_quick_next2 {
	width: 30px;
	height:20px;
	padding:0 5px;
	line-height:20px;
	display:inline-block;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.btn_quick_pre2{text-align:right;}
.btn_quick_next2{text-align:left;}
.btn_quick_pre2 img,
.btn_quick_next2 img {
	vertical-align:middle;
}
.quick_view.quick_con2 li span{padding-bottom:0;}
.quick_view.quick_con2 li strong{
	font-family:'Malgun Gothic';
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	display:block;
}
a.btn_quick_top {
	display:block;
	text-align:center;
	line-height:34px;
	height:34px;
	color:#fff;
	padding-right:4px;
	background:#625151 url(../img/quick/arrow_top.png) no-repeat 63px 16px
}