@charset "utf-8";

h2.category_stit {
	position:relative;
	padding:15px 3%;
	font-size:15px;
	font-weight:700;
	border-top:1px solid #d8d9da;
	border-bottom:1px solid #d8d9da;
	background:#f2eced;
}
h2.category_stit > span {
	display:inline-block;
	padding-left:10px;
	color:#5d3231;
	background:url(../img/common/bul_dot.png) no-repeat left 50%;
	background-size:5px
}
h2.category_stit .btn_arr{
	position:absolute;
	top:12px;
	right:10px;
} 
h2.category_stit .btn_arr .icon_category_arrow {
	display: inline-block;
    width: 27px;
    height: 24px;
    border: 1px solid #bebfc1;
    border-radius: 3px;
	background: url(../img/mypage/icon_mypage_arrow.png) no-repeat center 8px;
}	
h2.category_stit .btn_arr.active .icon_category_arrow {
	background: url(../img/mypage/icon_mypage_arrow.png) no-repeat center -14px;
}
.community_not_register {
    width: 100%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 16px;
    color: #92636d;
    background-color: #e8dbd9;
}
/* === 대량견적구매 === */
.category_count {
	height:60px;
	padding:10px 3%;
	font-weight:normal;
	font-size:15px;
	border-bottom:1px solid #d8d9da;
	background:#f2eced ;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.category_count .count {
	float:left;
	margin-top:8px;
	padding-left:10px;
	font-weight:bold;
	color:#5d3231;
	background:url(../img/common/bul_dot.png) no-repeat left 50%;
	background-size:5px
}
.category_count .list_selectBox{float:right;clear:none;}
.category_btn_area{
	width: 80%;
    margin: 10px auto;
}
.step_head{
	padding:4% 6% 2%;
	border-bottom:1px solid #000;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.step_head .step_ol{
	overflow:hidden;
}
.step_head .step_ol li{
	display:inline-block;
	margin-left:-5px;
	vertical-align:middle;
	text-align:center;
}
.step_head .step_ol li:first-child{
	margin-left:0;
}
.step_head .step_ol li.step{width:20%;}
.step_head .step_ol li.step img{width:100%;}
.step_head .step_ol li.category_arr{width:6.6%;}
.step_head .step_ol li.category_arr img{width:40%;}

.step_desc{margin-top:20px;}
.step_desc li{color:#949494;}

.category_big_list{}
.category_big_list li {
	overflow:hidden;
	margin:0 2%;
	padding:15px 3%;
	background:#fff;
	border-top:1px dotted #d8d9da;
}
.category_big_list li:first-child{
	border-top:0;
}
.category_big_list li > .checkbox {
	float:left;
	width:30px
}
.category_big_info {
	float:left;
	width:calc(100% - 30px);
	width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
}
.category_big_list.step2 > li{
	margin:0 0 10px 0;
	padding:0;
	border-top:1px solid #d8d9da;
	border-bottom:1px solid #d8d9da;
}
.category_big_list.step2 li:first-child{
	border-top:0;
}
.category_big_list.step2 .category_big_info {
	float:left;
	width:100%;
}
.category_big_list.step2 .big_info_area{
	padding:15px 3% 0;
}
.category_big_list .big_info_area .img_area{overflow:hidden;margin-bottom:10px;}
.category_big_list .big_info_area .img_area .pic {
	display:block;
	width:35%;
	float:left;
}
.category_big_list .big_info_area .img_area .pic img {
	width:100%
}
.category_big_list .big_info_area .img_area .tlt {
	display:block;
	width:60%;
	float:left;
	margin-left:10px;
	font-size:16px;
	color:#333;
}
.category_big_top {
	overflow:hidden
}
.category_big_top li {
	float:left;
	border:none;
	padding:0;
	margin:0
}
.category_big_top li.pic {
	width:35%
}
.category_big_top li.pic img {
	width:100%
}
.category_big_top li.tlt {
	width:60%;
	margin-left:10px;
	font-size:18px;
	color:#333;
}
.category_big_top li.price {
	width:60%;
	margin-left:10px;
	font-size:20px;
	font-weight:bold;
	color:#744644;
}
.category_big_top li.price em{
	font-size:12px;
	color:#666;
}
.category_big_top li.btn {
	width:60%;
	margin:30px 0 0 10px;
	font-size:15px;
	font-weight:700
}
.category_big_top li.btn button{
	width:138px;
	height:35px;
	line-height:35px;
	color:#fff;
	background-color:#898989;
}
.category_big_top .option{
	width:100%;
	font-size:16px;
	color:#744644;
}
.category_big_top li.option .tlt {
	display:inline-block;
	font-weight:700;
	width:32%;
	margin-right:14px;
	vertical-align:top;
	background:url(../img/common/bar_title.png) no-repeat right 6px
}
.category_big_top li.option .op_con {
	position:relative;
	width:60%;
	min-height:40px;
	display:inline-block;
	color:#000000;
}
.category_big_top li.option .op_con select{
	width:60%;
}
.category_big_top li.option .btn_lay{display:block;text-align:right;}
.category_big_top li.option .btn_grey{
	width:68px;
	height:35px;
	line-height:35px;
	color:#fff;
	background-color:#898989;
}
.category_big_list.step2 .category_big_info .category_big_top li{
	margin-bottom:5px;
	padding-bottom:5px;
	border-bottom:1px dotted #bebfc1;
}
.category_big_list.step2 .category_big_info .category_big_top li:last-child{
	margin-bottom:0;
	border-bottom:none;
}
.category_txtarea{
	padding:5px 3%;
}
.category_txtarea p{margin-bottom:5px;color:#949494;}
.category_txtarea textarea{
	width:100%;
	height:200px;
	border:1px solid #d8d9da;
}
.category_big_complete{
	padding:15px 3%;
	line-height:40px;
	text-align:center;
	font-size:16px;
	color:#765a60;
}

/*=== 커뮤니티 ===*/
.community_select{
	padding:10px 3%;
	border-bottom:1px solid #000;
	background-color:#f2eced;
}
/* 레시피 */
#recipe_visual{position:relative;}
#recipe_visual .recipe_tlt{
	z-index:100;
	display:block;
	width:100%;
	position:absolute;
	top:15%;
	left:0;
	text-align:center;
}
#recipe_visual .recipe_tlt img{
	width:50%;
}
#recipe_visual .recipe_visual_slider li span{
	display:block;
	width:100%;
	position:absolute;
	bottom:15%;
	left:0;
	text-align:center;
	color:#fff;
}
#recipe_visual .recipe_visual_slider li img {
	width:100%;
	height:auto;
}
#recipe_visual .recipe_pagination{
	z-index:100;
	position:absolute;
	bottom:10px;
	left:10px;
}
#recipe_visual .swiper-pagination-bullet{margin:0 3px;opacity:1;background-color:#9d9a99;}
#recipe_visual .swiper-pagination-bullet-active{background-color:#fff;}

.recipe_con{padding:0 3% 10px;}
.recipe_con li{
	overflow:hidden;
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #bebfc1;
}
.recipe_con li:first-child{
	padding-top:0;
	border:0;
}
.recipe_con li .left{float:left;width:50%;}
.recipe_con li .left img{width:100%;}
.recipe_con li .right{
	float:left;
	width:50%;
	padding-left:3%;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_con li .right span{display:block;}
.recipe_con li .right .tlt{margin-top:5px;font-size:16px;color:#333;}
.recipe_con li .right .info{margin:10px 0;font-size:12px;color:#666;}
.recipe_con li .right .star_score{}
.recipe_con li .right .star_score em{
	display:inline-block;
	margin-right:5px;
	font-size:12px;
	color:#744644;
}
.recipe_con li .right .star_score img{vertical-align:middle;}
.recipe_con li .right .s_txt{
	overflow:hidden;
	margin-top:6px;
	font-size:13px;
	color:#333;
}
.recipe_con li .right .s_txt em{
	float:left;
	display:block;
	width:74px;
	height:20px;
	line-height:18px;
	margin-right:14px;
	text-align:center;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_con li .right .s_txt span{float:left;display:block;line-height:20px;}

.recipe_detail_con{
	padding:20px 3% 40px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_detail_con .tlt{
	display:block;
	position:relative;
	height:36px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	color:#333;
}
.recipe_detail_con .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-18px;
	width:36px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.recipe_detail_con .vedio{
    position: relative;
    overflow: hidden;
	max-width: 100%; 
    height: 0;  
	margin: 0;
    padding-bottom: 75%; 
}
.recipe_detail_con .vedio iframe{
    width: 100%; 
    height: 100%;
    position: absolute; 
    top: 0; 
    left: 0; 
	margin: 0;
    padding: 0;  
}
.recipe_detail_con .product_info{margin-top:10px;font-size:13px;color:#333;}
.recipe_detail_con .product_info img{max-width:100%;}
.recipe_detail_con .teacher{margin-top:10px;font-size:13px;color:#333;}
.recipe_detail_con .teacher strong{color:#5d3231;}
.recipe_detail_con .star_score{margin-top:12px;}
.recipe_detail_con .star_score em{
	vertical-align:middle;
	font-size:13px;
	font-weight:bold;
	color:#765a60;
}
.recipe_detail_con .star_score img{vertical-align:middle}
.recipe_detail_con .material{margin-top:15px;}
.recipe_detail_con .material span{
	height:20px;
	display:inline-block;
	padding-left:40px;
	color:#666;
}
.recipe_detail_con .material span em{
	font-size:14px;
	font-weight:bold;
	color:#765a60;
}
.recipe_detail_con .material .time{
	background: url(../img/category/recipe_time.png) no-repeat left top;
}
.recipe_detail_con .material .meals{
	margin-left:30px;
	background: url(../img/category/recipe_meals.png) no-repeat left top;
}

.recipe_detail_box{}
.recipe_detail_box img{
	max-width:100%;
}
.recipe_detail_box .material_info{
	padding:20px 3%;
	color:#666;
}

.recipe_detail_make{
	overflow-y:scroll;
	height:300px;
	padding:0 3%;
}
.recipe_detail_make ul{}
.recipe_detail_make ul li{
	position:relative;
	padding:10px 3% 10px 60px;
	border-bottom:1px solid #e5e5e5;
}
.recipe_detail_make ul li span{display:block;}
.recipe_detail_make ul li .step{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:65px;
	text-align:center;
	background: url(../img/category/recipe_step_bg.png) no-repeat left top;
}
.recipe_detail_make ul li .step em{
	display:inline-block;
	padding-top:25px;
	font-size:16px;
	color:#fab1b4;
}
.recipe_detail_make ul li .txt{margin-bottom:10px;color:#666;}
.recipe_detail_make ul li .img{width:60%;}
.recipe_detail_make ul li .img img{width:100%;}

#recipe_popular_visual{padding:20px 3%;}
#recipe_popular_visual li{float:left;text-align:center;}
#recipe_popular_visual li img{width:100%;}
#recipe_popular_visual li span{display:block;margin-top:10px;}
#recipe_popular_visual .recipe_popular_pagination{
	margin-top:10px;
	text-align:center;
}
#recipe_popular_visual .swiper-pagination-bullet{background-color:#999;}
#recipe_popular_visual .swiper-pagination-bullet-active{background-color:#5d3231;}

.recipe_category{
	overflow:hidden;
	width:100%;
	padding:10px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_category li{
	width:50%;
	float:left;
	padding:5px;
	text-align:center;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_category li a{
	display:block;
	padding:10px;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.recipe_category li a > span{display:block;}
.recipe_category li .goods_image_area img {
	width:100%;
	height:auto;
}
.recipe_category li .brand_title{margin-top:10px;color:#777;}
.recipe_category li .goods_title{margin-top:5px;font-size:16px;color:#333;}
.recipe_category li .price_info{margin-top:5px;font-size:20px;color:#744644;font-family:'Arial';}
.recipe_category li .price_info em{font-size:14px;color:#666;}
.recipe_category li .star_score{margin-top:5px;}
.recipe_category li .star_score img{vertical-align:middle;}
.recipe_category li .star_score em{vertical-align:middle;font-size:13px;color:#744644;}

/* 세미나 신청 */
.seminar_con{padding:0 3% 10px;}
.seminar_con li{
	overflow:hidden;
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #bebfc1;
}
.seminar_con li:first-child{
	padding-top:0;
	border:0;
}
.seminar_con li .left{
	float:left;
	width:40%;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.seminar_con li .left img{width:100%;}
.seminar_con li .right{
	float:left;
	width:60%;
	padding-left:3%;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.seminar_con li .right .tlt{display:block;margin-top:5px;font-size:16px;color:#333;}
.seminar_con li .right dl{margin-top:10px;}
.seminar_con li .right dl dt{
	width:74px;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:13px;
	border:1px solid #ddd;
	border-radius:2px;
}
.seminar_con li .right dl dd{margin-top:5px;}
.seminar_con li .right .btn{.
	display:block;
	width:100px;
	height:35px;
	line-height:35px;
	margin-top:10px;
	color:#fff;
	background-color:#898989;
}
.seminar_con li .right .btn.on{background-color:#765a60;}

.seminar_detail_con{
	padding:20px 3% 40px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.seminar_detail_con .tlt{
	display:block;
	position:relative;
	height:36px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	color:#333;
}
.seminar_detail_con .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-18px;
	width:36px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.seminar_detail_con .img img{
	width:100%;
}
.seminar_detail_con .product_info{margin-top:10px;font-size:13px;color:#333;}
.seminar_detail_con .product_info img{max-width:100%;}

.seminar_detail_box{}
.seminar_detail_box .tProduct_detail{padding:0 3%;}
.seminar_detail_box .tProduct_detail th{
	vertical-align:top;
	background-position:right 20px;
}
.seminar_detail_box .seminar_ollist{padding:20px 3%;}
.seminar_detail_box .seminar_ollist li{}
.seminar_detail_box .seminar_ullist{padding:20px 3%;}
.seminar_detail_box .seminar_ullist li{
	padding-left:10px;
	background: url(../img/common/bul_dot.png) no-repeat left 9px;
    background-size: 2px;
}
.seminar_application{padding:10px 3%;}
.seminar_application table{width:100%;border:1px solid #d8d9da;}
.seminar_application table thead th{
	padding:5px 0;
	border-bottom:1px solid #d8d9da;
	background-color:#f8f8f8;
}
.seminar_application table tbody td{
	padding:5px 0;
	text-align:center;
	border-bottom:1px dotted #d8d9da;
}
.seminar_application table tbody tr:last-child td{border-bottom:0;}
.seminar_application table tbody td.textL{text-align:left;}

.seminar_clause{padding:10px 3%;}
.seminar_clause .checkbox{margin-bottom:10px;}
.seminar_clause .clause_area{
	overflow-y:scroll;
	height:200px;
	padding:10px;
	color:#999;
	border:1px solid #d8d9da;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}

/* 베스트 바이어 */
.popular_buyer{}
.popular_buyer .buyer_tlt{display:block;padding:20px 0;text-align:center;}
.popular_buyer .buyer_tlt img{width:50%;}
.popular_buyer_info{
	padding:10px 3%;
	background-color:#f2eced;
}
.popular_buyer_info > div{
	overflow:hidden;
	padding:10px 3%;
	border:1px solid #ddd;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.popular_buyer_info .left{float:left;width:45%;}
.popular_buyer_info .left img{width:100%;}
.popular_buyer_info .right{float:right;width:50%;}
.popular_buyer_info .right .tlt{display:block;margin-top:10px;}
.popular_buyer_info .right .txt{display:block;margin-top:5px;font-size:13px;}
.popular_buyer_info .right .add{display:block;margin-top:5px;font-size:13px;}

.buyer_detail_con{
	padding:20px 3% 40px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.buyer_detail_con .tlt{
	display:block;
	position:relative;
	height:36px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:normal;
	text-align:center;
	color:#333;
}

#buyer_visual{
	position:relative;
}
#buyer_visual .buyer_visual_slider li{
	text-align:center;
}
#buyer_visual .buyer_visual_slider li img {
	width:50%;
	height:auto;
}
#buyer_visual .buyer_visual_btn button{
	z-index:100;
	position:absolute;
	top:50%;
	margin-top:-21px;
	display:none;
	width:42px;
	height:42px;
	text-indent:-9999px;
}
#buyer_visual .buyer_visual_btn .buyer_visual_prev{
	left:0;
	background:url(../img/main/btn_slider_pre.gif) no-repeat left top;
}
#buyer_visual .buyer_visual_btn .buyer_visual_next{
	right:0;
	background:url(../img/main/btn_slider_next.gif) no-repeat left top;
}

.buyer_detail_con .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-18px;
	width:36px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.buyer_detail_con .sub_tlt{margin-top:10px;font-size:13px;color:#333;}
.buyer_detail_con .sub_info{margin-top:10px;font-size:13px;color:#333;}
.buyer_detail_con .sub_list{margin-top:10px;}
.buyer_detail_con .sub_list li{
	padding-left: 10px;
	font-size:13px;
	color:#333;
    background: url(../img/common/bul_dot.png) no-repeat left 9px;
    background-size: 2px;
}

.buyer_detail_box{}
.buyer_detail_box .con_info{
	padding:20px 3%;
	color:#666;
}
.buyer_detail_box .con_info img{
	max-width:100%;
}

/* 사장님들 보세요 */
.president_con{padding:0 3% 10px;}
.president_con > li{
	position:relative;
	overflow:hidden;
	margin-top:10px;
	padding-top:10px;
	border-top:1px dotted #bebfc1;
}
.president_con > li:first-child{
	padding-top:0;
	border:0;
}
.president_con li .left{
	float:left;
	width:50%;
	border:1px solid #ddd;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.president_con li .left img{width:100%;}
.president_con li .right{
	float:left;
	width:50%;
	padding-left:14px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.president_con li .right .tlt{display:block;margin-top:5px;font-size:16px;color:#333;}
.president_con li .right .inquiry{
	position:absolute;
	right:50%;
	bottom:0;
	margin-right:-88px;
}
.president_con li .right .inquiry li{margin-bottom:5px;}

.president_detail_con{
	padding:20px 3% 40px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.president_detail_con .tlt{
	display:block;
	position:relative;
	height:50px;
	margin-bottom:15px;
	font-size:18px;
	font-weight:normal;
	text-align:left;
	color:#333;
}
.president_detail_con .tlt .year{
	display:block;
	font-size:14px;
	color:#797979;
}
.president_detail_con .tlt:after{
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-18px;
	width:36px;
	display:inline-block;
	text-align:center;
	border-bottom:1px solid #906c6c;
}
.president_detail_con .img img{
    width:100%;
}
.president_detail_con .product_info{margin-top:10px;font-size:13px;color:#333;}
.president_detail_con .product_info img{max-width:100%;}

#president_visual{position:relative;}
#president_visual .president_tlt{
	z-index:100;
	display:block;
	width:100%;
	position:absolute;
	top:15%;
	left:0;
	text-align:center;
}
#president_visual .president_tlt img{
	width:80%;
}
#president_visual .president_img img {
	width:100%;
	height:auto;
}