@charset "utf-8";

/* === footer === */
#footer {
	position:relative;
	padding-bottom:10px;
	border-top:1px solid #e1e1e1;
	background-color:#f2f2f2;
}
.f_go_top {
	display:inline-block;
	width:72px;
	padding-right: 15px;
	height:30px;
	line-height:30px;
	border:1px solid #cacaca;
	border-radius:4px;
	text-align:center;
	font-size:13px;
	font-weight:700;
	background:#fff url(../img/main/icon_to_top.png) no-repeat 58px 9px;
}
/* === bottom menu === */
.bottom_menu{
	overflow:hidden;
	margin-top:10px;
}
.bottom_menu li{float:left;width:50%; text-align:center;}
.bottom_menu li a{
	display:inline-block;
	width:116px;
	height:26px;
	line-height:26px;
	margin-right:10%;
	font-size:14px;
	color:#000;
	border:1px solid #962e45;
	border-radius:26px;
	background-color:#fff;
}
.bottom_menu li:first-child a{
	margin-left:10%;
	margin-right:0;
}
.footer_info {
	margin:20px 15px;
	position:relative
}
.footer_menu {
	height:40px;
	line-height:40px;
	text-align:center
}
.footer_menu span {
	padding:0 5px 0 8px;
	background:url(../img/main/bar_footer_menu.png) no-repeat left 50%
}
.footer_menu span.first {
	background:none
}
.footer_menu span a {
	font-size:12px;
	font-weight:700;
	color:#000
}
.f_logo{
	margin:24px 3% 0;
}
.address_info {
	margin:2px 3% 0;
}
.address_info li {
	margin:2px 0;
	font-size:13px;
	color:#7e8083;
}
.address_info li span{
	display:inline-block;
	padding-right:5px;
}
.address_info li a{
	color:#825353;
}
.address_info li.copyright {
}