@charset "utf-8";

#header {
	min-width:320px;	
}

/* === utility === */
.utility_area{
	overflow:hidden;
	width:100%;
	height:30px;
	border-bottom:1px solid #dcd5d7;
}
.utility_area ul{
	overflow:hidden;
	float:right;
}
.utility_area ul li{
	float:left;
	height:30px;
	line-height:30px;
	padding:0 15px;
	background:#fff url(../img/main/utility_line.gif) no-repeat left 50%;
}
.utility_area ul li:first-child{
	padding-left:0;
	background-image:none;
}
.utility_area ul li a{
	color:#4e4141;
}

/* === logo === */
.logo_area {
	height:59px;
	position:relative
}
.head_right_btn {
	position:absolute;
	right:12px;
	top:6px
}
h1#logo{
	padding:7px 0 0 15px;
}
h1#logo img {	
	height:46px;
}
.btn_search_view,
.btn_cart{
	width:42px;
	height:46px
}
.btn_cart {
	position:relative
}
.btn_cart .cart_no {
	position: absolute;
    right: 0px;
    top: 3px;
    width: 24px;
    height: 24px;
    line-height: 24px;
	letter-spacing:-1px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    background-color: #744644;
    border-radius: 20px;
}
.icon_search {
	display:block;
	width:42px;
	height:26px;
	background:url(../img/main/icon_search.png) no-repeat center top;
	background-size:26px
}
.icon_cart {
	display:block;
	width:42px;
	height:26px;
	background:url(../img/main/icon_cart.png) no-repeat center top;
	background-size:25px
}

#search_area {
	width:100%;
	height:46px;
	padding:0 5px;
	line-height:45px;
	background-color:#baacaf;
     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#search_area input[type="text"] {
	border:none;
	width:88%;
	background:#fff
}
#search_area .btn_search {
	width:12%;
	text-align:center;
	background-color:#baacaf
}
#search_area .btn_search span.icon_search02 {
	display:inline-block;
	width:40px;
	height:26px;
	background:url(../img/main/icon_search02.png) no-repeat center top;
	background-size:26px
}
#sub_menu{
	overflow:hidden;
	background-color:#4e4141;
}
#sub_menu .btn_allmenu{
	float:left;
	display:inline-block;
	width:40px;
	height:36px;
	text-align:center;
}
#sub_menu .btn_allmenu .icon_menu {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../img/main/icon_menu.png) no-repeat center 6px;
	background-size:22px
}
#sub_menu .menu_list{
	width:87%;
	float:left;
}
#sub_menu .menu_list ul{
	overflow:hidden;
	width:100%;
	float:left;
}
#sub_menu .menu_list ul li{
	float:left;
	width:25%;
	height:36px;
	line-height:36px;
	text-align:center;
}
#sub_menu .menu_list ul li a{
	color:#fff;
	font-size:12px;
}

/* === meun layer === */
.layer_menu {	
	
}
.site_nav_top {
	overflow:hidden;
	width:100%;
	height:84px;
	padding-top:12px;
	background-color:#baacaf;
     -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.site_nav_top li {
	float:left;
	width:25%;
	text-align:center;
}
.site_nav_top li a{
	font-size:11px;
	color:#4e4141;
}
.site_nav_top li a span{
	display:block;
}
.gnb_logo{
	height:120px;
	line-height:120px;
	text-align:center;
}
.gnb_logo img{
	vertical-align:middle
}
.gnb_tab_menu{
	overflow:hidden;
	margin:0 17px;
	background-color:#baacaf;
}
.gnb_tab_menu li{
	float:left;
	width:33.3%;
	height:45px;
	line-height:45px;
	text-align:center;
}
.gnb_tab_menu li.active{
	background-color:#4e4141;
}
.gnb_tab_menu li a{
	display:block;
	font-size:14px;
	color:#fff;
}
.gnb_tab_menu_con{
	margin:0 17px;
}
.site_nav_list {
	position:relative;
	border-bottom:1px solid #dbdbdb
}
.site_nav_list a {
  color: #333;
  display: block;
  padding: 0 15px;
  height: 42px;
  line-height: 45px;
  background: #fff;
}
.site_nav_list span {
	position:absolute;
	right:15px;
	top:8px
}
.site_nav_list span.icon_arrow {
	display:inline-block;
	width:27px;
	height:24px;
	background:url(../img/main/icon_menu_arrow.png) no-repeat center -14px
}
.site_nav_list span.active.icon_arrow {
	background:url(../img/main/icon_menu_arrow.png) no-repeat center 8px
}
.site_nav_list_s li {
	border-bottom:1px solid #dbdbdb
}
.site_nav_list_s li a {
	color: #868686;
	display: block;
	padding: 0 25px;
	height: 42px;
	line-height: 45px;
	background: #f9f9f9;
}
.site_gnb_menu {
	border-bottom:1px solid #dbdbdb
}
.site_gnb_menu a {
  color: #333;
  display: block;
  padding: 0 15px;
  height: 42px;
  line-height: 45px;
  background: #fff;
  position:relative
}
span.icon_go_detail {
	position:absolute;
	right:24px;
	top:17px;
	width:7px;
	height:11px;
	display:inline-block;
	background:url(../img/main/icon_go_detail.png) no-repeat left top
}
