@charset "utf-8";

/* === main visual slider  ===*/
#main_visual{position:relative;}
#main_visual .main_visual_slider li img {
	width:100%;
	height:auto;
}
#main_visual .main_visual_btn{
	z-index:100;
	position:absolute;
	bottom:0;
	right:8px;
}
#main_visual .main_visual_btn button{
	display:none;
	width:42px;
	height:42px;
	text-indent:-9999px;
}
#main_visual .main_visual_btn .main_visual_prev{
	background:url(../img/main/btn_slider_pre.gif) no-repeat left top;
}
#main_visual .main_visual_btn .main_visual_next{
	background:url(../img/main/btn_slider_next.gif) no-repeat left top;
}
h2.main_title {
	font-size:30px;
	font-weight:normal;
	color:#666;
	text-align:center;
	letter-spacing:-2px;
}
h2.main_title strong {
	font-weight:normal;
	color:#5d3231;
}
h2.main_title span {
	display:block;
	font-size:14px;
	color:#838383;
	margin-top:5px;
	letter-spacing:-1px;
}

#toTop {	
	display:none;
	z-index:110;
	position:fixed;
	right:10px;
	overflow:hidden;
	width:46px;
	height:39px;
	text-indent:-9999px;
	background:url(../img/main/icon_to_top.png) no-repeat left top;
}
#toTop span {
	display:inline-block
}

/* === slide menu === */

.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #eee;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}
.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-menu--slide-left {
  width: 80%;
  height: 100%;
}
.site-nav-scrollable-container{
  height: 100%;
  overflow-y: scroll;
}
.c-menu--slide-left .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;
}
.c-menu--slide-left .c-menu__item:first-child {
  border-top: none;
}
.c-menu--slide-left .c-menu__item:last-child {
  border-bottom: none;
}
.c-menu--slide-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}
.c-menu--slide-left .c-menu__close {
	display:none;
	z-index:100;
	position:absolute;
	top:32px;
	left:105%;
	cursor: pointer;
}
.c-menu--slide-left .c-menu__close:focus {
  outline: none;
}

.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.o-wrapper.has-push-left {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
body.has-active-menu {
  overflow: hidden;
  position:fixed
}
.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}
.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/* === main layout ===*/
/* === main_typeA ===*/
.main_typeA{
	height:100%;
	min-height:376px;
	margin-top:2px;
	padding-top:36px;
	background-image:url(../img/main/main_typeA_bg.gif);
	background-size: cover;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeA_con{
	position:relative;
	margin-top:30px;
	padding:0 20% 15px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeA_con .main_typeA_slider li{
	padding:20px 10%;
	text-align:center;
	border:1px solid #ddd;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeA_con .main_typeA_slider li a{display:block;}
#main_typeA_con .main_typeA_slider li a > span{display:block;}
#main_typeA_con .main_typeA_slider li .goods_image_area img {
	width:100%;
	height:auto;
}
#main_typeA_con .main_typeA_slider li .brand_title{margin-top:10px;color:#777;}
#main_typeA_con .main_typeA_slider li .goods_title{margin-top:5px;font-size:16px;color:#333;}
#main_typeA_con .main_typeA_slider li .price_info{margin-top:5px;font-size:20px;color:#744644;font-family:'Arial';}
#main_typeA_con .main_typeA_slider li .price_info em{font-size:14px;color:#666;}
#main_typeA_con .main_typeA_slider li .star_score{margin-top:5px;}
#main_typeA_con .main_typeA_slider li .star_score em{font-size:13px;color:#744644;}
#main_typeA_con button{
	z-index:100;
	position:absolute;
	top:50%;
	margin-top:-21px;
	width:42px;
	height:42px;
	text-indent:-9999px;
}
#main_typeA_con .main_typeA_prev{
	left:8px;
	background:url(../img/main/typeA_btn_slider_pre.gif) no-repeat left top;
}
#main_typeA_con .main_typeA_next{
	right:8px;
	background:url(../img/main/typeA_btn_slider_next.gif) no-repeat left top;
}

/* === main_typeB ===*/
.main_typeB{
	position:relative;
	width:93%;
	margin:15px auto 0;
	padding:16px;
	border-style:double;
	border-color:#baacaf;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeB_con{
	overflow:hidden;
}
.main_typeB .product_sale_con{
	overflow:hidden;
	margin-bottom:28px;
}
.main_typeB .product_sale_con .tlt{
	display:block;
	margin-bottom:10px;
	text-align:center;
	font-size:18px;
	color:#825353;
}
.main_typeB .product_sale_con .counter{
	width:230px;
	height:32px;
	margin:0 auto;
	text-align:center;
	background-color:#825353;
	border-radius:32px;
}
.main_typeB .product_sale_con .counter strong{
	display:inline-block;
	width:10px;
	line-height:32px;
	vertical-align:middle;
	font-size:18px;
	color:#fff;
}
.main_typeB .product_sale_con .counter span.time{
	display:inline-block;
	margin-right:20px;
	vertical-align:middle;
	font-size:12px;
	color:#fff;
}
.main_typeB .product_sale_con .counter span.semi{
	display:inline-block;
	width:20px;
	vertical-align:middle;
	color:#fff;
}
.main_typeB .product_sale_left{
	float:left;
	width:50%;
}
.main_typeB .product_sale_left .goods_image_area{
	position:relative;
	text-align:center;
}
.main_typeB .product_sale_left .goods_image_area a{display:inline-block;}
.main_typeB .product_sale_left .goods_image_area a img{
	width:120px;
	height:120px;
	padding-bottom:20px;
}
.main_typeB .product_sale_left .goods_image_area .sale_icon{
	position:absolute;
	bottom:0;
	left:50%;
	width:52px;
	height:52px;
	padding-top:12px;
	font-size:16px;
	color:#fff;
	background:url(../img/main/shine_sale_icon.png) no-repeat left top;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeB .product_sale_right{
	width:50%;
	float:right;
	padding:0 0 0 16px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeB .product_sale_right .product_list_desc .goods_title{
	font-size:16px;
}
.main_typeB .product_sale_right .product_list_desc .goods_title a{color:#000;}
.main_typeB .product_sale_right .product_list_desc .star_score{
	margin-top:12px;
}
.main_typeB .product_sale_right .product_list_desc .product_info{
	margin-top:12px;
	font-size:13px;
}
.main_typeB .product_sale_right .product_list_desc .product_info a{color:#898989;}
.main_typeB .product_sale_right .product_list_desc .price_info{
	padding-bottom:25px;
	font-weight:bold;
	font-family:'Arial';
	color:#000;
}
.main_typeB .product_sale_right .product_list_desc .price_info del{
	padding-left:5px;
	color:#b5b5b5;
}
.main_typeB .typeB_cart{
	position:absolute;
	bottom:-3px;
	right:-3px;
}

/* === main_typeC ===*/
.main_typeC{margin-top:40px;}
.main_typeC_tab{
	width:100%;
	height:78px;
	margin-top:12px;
	border-top:1px solid #baacaf;
	border-bottom:1px solid #baacaf;
}
.main_typeC_tab li{
	position:relative;
	float:left;
	width:33%;
	height:78px;
	padding-top:10px;
	text-align:center;
	border-left:1px solid #baacaf;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeC_tab li:nth-child(2){width:34%;}
.main_typeC_tab li:first-child{border-left:none;}
.main_typeC_tab li.active{background-color:#825353;}
.main_typeC_tab li.active:after{
	position:absolute;
	bottom:-12px;
	left:50%;
	content:"";
	width:16px;
	height:12px;
	margin-left:-8px;
	background:url(../img/main/main_typeC_tab_arr.png) no-repeat;
}
.main_typeC_tab li.active a{color:#fff;}
.main_typeC_tab li a{
	color:#8a8a8a;
	font-size:13px;
}
.main_typeC_tab li span{
	display:block;
	width:65px;
	height:44px;
	margin:0 auto;
}
.main_typeC_tab li span.menu1{background:url(../img/main/typeC_tab_m01_off.png) no-repeat;}
.main_typeC_tab li span.menu2{background:url(../img/main/typeC_tab_m02_off.png) no-repeat;}
.main_typeC_tab li span.menu3{background:url(../img/main/typeC_tab_m03_off.png) no-repeat;}
.main_typeC_tab li.active span.menu1{background:url(../img/main/typeC_tab_m01_on.png) no-repeat;}
.main_typeC_tab li.active span.menu2{background:url(../img/main/typeC_tab_m02_on.png) no-repeat;}
.main_typeC_tab li.active span.menu3{background:url(../img/main/typeC_tab_m03_on.png) no-repeat;}

.main_typeC_tab_con{overflow:hidden;padding:10px;}
.main_typeC_tab_con ul{}
.main_typeC_tab_con ul li{
	float:left;
	width:50%;
	padding:10px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeC_tab_con ul li img{width:100%;}

/* === main_typeD ===*/
.main_typeD{}
.typeD_banner{}
.typeD_banner p:first-child{margin-bottom:10px;}
.typeD_banner p img{width:100%;}

/* === main_typeE ===*/
.main_typeE{margin-top:40px;}
.main_typeE_tab{overflow:hidden;width:100%;margin:10px auto 0;}
.main_typeE_tab li{float:left;width:20%;height:50px;line-height:45px;text-align:center;background-color:#d9c5c2;}
.main_typeE_tab li a{display:block;padding-top:4px;color:#7a4a4a;}
.main_typeE_tab li.active{background-color:#e8dbd9;}
.main_typeE_tab li.active a{padding-top:0;color:#5d5d5d;border-top:4px solid #92636d;}
.main_typeE_tab_con{background-color:#e8dbd9;}
.main_typeE_tab_con > p{
	text-align: center;
    color: #92636d;
    font-size: 18px;
	padding:50% 0;
}
.main_typeE_tab_con ul{
	overflow:hidden;
	width:100%;
	padding:10px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeE_tab_con ul li{
	width:50%;
	height:100%;
	float:left;
	padding:5px;
	text-align:center;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeE_tab_con ul li a{
	display:block;
	height:80%;
	padding:10px;
	background-color:#fff;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeE_tab_con ul li a > span{display:block;}
.main_typeE_tab_con ul li .goods_image_area img {
	width:100%;
	height:auto;
}
.main_typeE_tab_con ul li .brand_title{height:18px;margin-top:10px;color:#777;}
.main_typeE_tab_con ul li .goods_title{
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: normal; 
	word-wrap: break-word; 
	display: -webkit-box; 
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	height:46px;
	margin-top:5px;
	font-size:16px;
	color:#333;
}
.main_typeE_tab_con ul li .price_info{margin-top:5px;font-size:20px;color:#744644;font-family:'Arial';}
.main_typeE_tab_con ul li .price_info em{font-size:14px;color:#666;}
.main_typeE_tab_con ul li .star_score{margin-top:5px;}
.main_typeE_tab_con ul li .star_score img{vertical-align:middle;}
.main_typeE_tab_con ul li .star_score em{vertical-align:middle;font-size:13px;color:#744644;}

/* === main_typeF ===*/
.main_typeF{margin-top:40px;}
.main_typeF_con{
	width:93%;
	margin:15px auto 0;
	border:1px solid #baacaf;
}
#main_typeF_swiper{position:relative;}
#main_typeF_swiper li{}
#main_typeF_swiper li .goods_image_area{}
#main_typeF_swiper li .goods_image_area img{width:100%;}
#main_typeF_swiper li .info_area{
	overflow:hidden;
	height:48px;
	margin-top:10px;
}
#main_typeF_swiper li .info_area .title{
	width:45%;
	float:left;
	padding:0 10px;
	font-size:14px;
	color:#333;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeF_swiper li .info_area .desc{
	width:55%;
	float:left;
	font-size:12px;
	color:#858585;
}
#main_typeF_swiper li .dtail_btn{
	position:relative;
	display:inline-block;
	width:86px;
	height:24px;
	line-height:22px;
	margin:4px 0 10px 10px;
	padding-left:10px;
	text-align:left;
	background-color:#a1a1a1;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeF_swiper li .dtail_btn a{
	font-size:12px;
	color:#fff;
}
#main_typeF_swiper li .dtail_btn:after{content:"+";position:absolute;top:0;right:6px;font-size:14px;color:#fff;}
#main_typeF_swiper .main_typeF_btn button{
	z-index:100;
	position:absolute;
	top:50%;
	margin-top:-60px;
	width:42px;
	height:42px;
	text-indent:-9999px;
}
#main_typeF_swiper .main_typeF_prev{
	left:0;
	background:url(../img/main/typeF_btn_slider_pre.gif) no-repeat left top;
}
#main_typeF_swiper .main_typeF_next{
	right:0;
	background:url(../img/main/typeF_btn_slider_next.gif) no-repeat left top;
}
#main_typeF_swiper.swiper-container .pagination span {
	background: #fff;
	text-indent: -9999px;
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 2px;
	outline: 0;
	vertical-align:middle;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border:1px solid #626262;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
#main_typeF_swiper.swiper-container .pagination span:hover,
#main_typeF_swiper.swiper-container .pagination span.swiper-pagination-bullet-active {
	width: 10px;
	height: 10px;
	padding:2px;
	background: #626262;
}
#main_typeF_swiper.swiper-container-horizontal>.swiper-pagination-bullets, 
#main_typeF_swiper.swiper-pagination-custom, 
#main_typeF_swiper.swiper-pagination-fraction{position:absolute;bottom:100px;}

.typeF_swiper_relation{
	position:relative;
	padding:10px 0 0;
	border-top:1px solid #baacaf;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.typeF_swiper_relation:after{
	content:'';
	position:absolute;
	top:-10px;
	left:50%;
	margin-left:-8px;
	display:block;
	width:17px;
	height:11px;
	background:url(../img/main/main_typeF_arr.gif) no-repeat left top;
}
.typeF_swiper_relation ul{overflow:hidden;}
.typeF_swiper_relation ul li{float:left;width:50%;margin-bottom:10px;}
.typeF_swiper_relation ul li .goods_image_area {
	float:left;
	width:40%;
}
.typeF_swiper_relation ul li .goods_image_area img{width:100%;}
.typeF_swiper_relation ul li .info_area{float:left;width:60%;}
.typeF_swiper_relation ul li .info_area a{
	display:block;
	padding:0 5% 5%;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.typeF_swiper_relation ul li .info_area a span{display:block;}
.typeF_swiper_relation ul li .info_area .brand_title{font-size:11px;color:#777;}
.typeF_swiper_relation ul li .info_area .goods_title{margin-top:5px;font-size:14px;color:#333;}
.typeF_swiper_relation ul li .info_area .price_info{margin-top:5px;font-size:14px;color:#744644;}
.typeF_swiper_relation ul li .info_area .price_info em{color:#666;}

/* === main_typeG ===*/
.main_typeG{margin-top:13px;}
.main_typeG .main_sub_title{
	position:relative;
	height:44px;
	line-height:44px;
	padding-left:14px;
	color:#551d1b;
	font-size:20px;
	border-top:1px solid #baacaf;
	border-bottom:1px solid #baacaf;
	background:url(../img/main/main_sub_title_bg.png) repeat;
}
.main_typeG .main_sub_title .more{
	position:absolute;
	top:50%;
	margin-top:-11px;
	right:14px;
}
.main_typeG_con{
	overflow:hidden;
	margin-bottom:6px;
	padding:14px;
	border-bottom:1px solid #e1e1e1;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeG_con .goods_image_area{
	float:left;
	width:45%;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeG_con .goods_image_area img{width:100%;}
.main_typeG_con .info_area{
	float:left;
	width:55%;
	padding-left:10px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeG_con .info_area .brand_title{
	position:relative;
	padding-top:10px;
	font-size:14px;
	font-weight:bold;
	color:#1d1d1d;
}
.main_typeG_con .info_area .brand_title:after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    display: inline-block;
    border-bottom: 1px solid #1d1d1d;
}
.main_typeG_con .info_area .product_info{margin-top:10px;}
.main_typeG_con .info_area .address{margin-top:10px;}
.main_typeG_con .info_area .btn{
	position:relative;
	display:inline-block;
	width:65px;
	height:24px;
	line-height:24px;
	margin-top:24px;
	padding-left:10px;
	text-align:left;
	font-size:12px;
	color:#fff;
	background-color:#825353;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.main_typeG_con .info_area .btn:after{content:"+";position:absolute;top:0px;right:6px;font-size:14px;}

/* 2017-06-27 ÇÞ½Ò¸¶·ç onair */
.main_typeG_con .vedio{
	position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 0;
    margin: 0;
    padding-bottom: 75%;
}
.main_typeG_con .vedio iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.main_typeG_con .vedio_btn .btn{
	position:relative;
	display:inline-block;
	width:100%;
	height:24px;
	line-height:23px;
	margin-top:10px;
	text-align:center;
	font-size:12px;
	color:#fff;
	background-color:#825353;
}
.main_typeG_con .vedio_btn .btn:after{content:"+";font-size:14px;}