@charset "utf-8";

/* === mypage === */
.mypage_head {
	color:#fff;
	font-size:15px;
	font-weight:700;
	text-align:center;
	height:46px;
	line-height:46px;
	background:#765a60;
	border-top:1px solid #fff;
	position:relative
}
.mypage_head .btn_go_prev {
	position:absolute;
	top:50%;
	margin-top:-18px;
	left:3%;
	width:36px;
	height:36px;
	border:1px solid #9f8c90
}
.icon_go_prev {
	display:inline-block;
	width:9px;
	height:36px;
	background:url(../img/common/icon_go_prev.png) no-repeat left 8px;
	background-size:10px
}
h2.mypage_stit {
	margin-top:5px;
	padding:15px 3%;
	color:#5d3231;
	font-size:15px;
	font-weight:700;
	border-top:1px solid #cccdce;
	border-bottom:1px solid #cccdce;
	background:#f2eced;
	position:relative
}
h2.mypage_stit span {
	display:inline-block;
	padding-left:10px;
	background:url(../img/common/bul_dot.png) no-repeat left 6px;
	background-size:5px
}
.mypage_info {
	padding:10px 3%;
	overflow:hidden
}
.mypage_info li {
	padding:10px 0
}
.mypage_info li.mylevel {
	float:left;
	width:50%;
	font-size:15px;
	font-weight:700;
	text-align:center;
	border:1px solid #f1f1f1;
	background:url(../img/mypage/my_level_bg.png) repeat left top
}
.icon_level {
	display:inline-block;
	width:20px;
	height:20px;
	margin-bottom:-6px;
	background:url(../img/mypage/icon_level.png) no-repeat left top;
	background-size:14px
}
.mypage_info li.myname {
	float:right;
	width:45%;
	font-size:15px;
	font-weight:700;
	text-align:right;
	margin-right:5px
}
.mymenu_list {
	border-top:1px solid #cccdce;
	overflow:hidden
}
.mymenu_list li {
	width:33.3%;
	float:left;
	border-bottom:1px solid #cccdce
}
.mymenu_list li a {
	display:block;
	color:#505050;
	font-size:14px;
	font-weight:700;
	letter-spacing:-1px;
	padding:20px 0 15px;
	text-align:center;
	border-right:1px solid #cccdce
}
.mymenu_list li:nth-child(3n) a {
	border-right:none
}
.icon_mymenu01 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu01.png) no-repeat center top;
	background-size:30px
}
.icon_mymenu02 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu02.png) no-repeat center top;
	background-size:35px
}
.icon_mymenu03 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu03.png) no-repeat center top;
	background-size:42px
}
.icon_mymenu04 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu04.png) no-repeat center top;
	background-size:34px
}
.icon_mymenu05 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu05.png) no-repeat center top;
	background-size:32px
}
.icon_mymenu06 {
	display:block;
	height:38px;
	background:url(../img/mypage/icon_mymenu06.png) no-repeat center top;
	background-size:26px
}
.mypage_content {
	background:#fafafa;
	padding-bottom:5px;
	border-bottom:1px solid #cccdce;
}
.shipment_steps {
	background:#fff;
	overflow:hidden;
	border-bottom:1px solid #cccdce;
}
.shipment_steps li {
	float:left;
	width:25%;
	padding:15px 3px 15px 0;
	margin-left:-3px;
	color:#363636;
	font-size:13px;
	font-weight:700;
	text-align:center;
	letter-spacing:-1px;
	background:url(../img/mypage/icon_ship_arrow.png) no-repeat right 50%;
	background-size:5px
}
.shipment_steps li:first-child {

}
.shipment_steps li:last-child {

	background:none
}
.shipment_steps li span {
	display:block;
	color:#8d8d8d;
	font-size:18px;
	margin-bottom:10px
}
.cancel_history {
	background:#fff;
	overflow:hidden;
	border-bottom:1px solid #cccdce;
}
.cancel_history li {
	float:left;
	width:33.3%;
	padding:15px 0 15px 0;
	margin-left:-1px;
	color:#363636;
	font-size:13px;
	font-weight:700;
	text-align:center;
	letter-spacing:-1px;
	border-right:1px solid #cccdce;
}
.cancel_history li:last-child {
	border-right:none
}
.cancel_history li span {
	display:block;
	color:#8d8d8d;
	font-size:18px;
	margin-bottom:10px
}
h2.mypage_stit span.my_review_no {
	color:#8d8d8d;
	font-size:18px;
	padding-left:0;
	margin-left:25px;
	background:none
}
.mypage_menu {
	padding:10px 3%;
	background:#fff;
	border-bottom:1px solid #bebfc1
}
.mypage_menu a {
	display:block;
	color:#373737;
	font-size:14px;
	font-weight:700;
	line-height:26px;
	position:relative
}
.mypage_menu a span {
	position:absolute;
	right:0;
	top:0px
}

.mypage_menu a .icon_mypage_s_menu {
    position: absolute;
    right: 12px;
    top: 10px;
    width: 7px;
    height: 11px;
    display: inline-block;
}

span.icon_mypage_arrow {
    display: inline-block;
    width: 27px;
    height: 24px;
    border: 1px solid #bebfc1;
    border-radius: 3px;
    background: url(../img/mypage/icon_mypage_arrow.png) no-repeat center -14px;
}

/* === 마이페이지 하단 메뉴 === */
.mypage_menu a.active span.icon_mypage_arrow {
	background: url(../img/mypage/icon_mypage_arrow.png) no-repeat center 8px;
}
.mypage_smenu {
	position:relative
}
.mypage_smenu li {
	padding:0 3%;
	border-bottom:1px solid #bebfc1;
	background:#fff
}
.mypage_smenu li a {
	color: #717171;
    font-weight: 700;
    display: block;
    height: 42px;
    line-height: 45px;
	margin-left:10px;
    position: relative;
}
span.icon_mypage_s_menu {
	position: absolute;
    right: 12px;
    top: 17px;
    width: 7px;
    height: 11px;
    display: inline-block;
    background: url(../img/mypage/icon_mypage_s.png) no-repeat left top;
}

/* === 나의 쇼핑내역 === */
.my_shopping_top {
	padding:20px 3% 15px;
	border-bottom:1px solid #e9e9e9
}
.my_shopping_info li {
	margin:3px 0;
	font-size:13px;
	padding-left:8px;
	background:url(../img/mypage/bul_mydot.png) no-repeat left 7px
}
.my_shopping_menu {
	padding:10px 0;
	overflow:hidden
}
.my_shopping_menu li {
	float:left;
    width: 46%;
	margin:0 1% 0 2%;
	color: #515151;
	text-align:center;
	letter-spacing:-1px;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
	border:1px solid #cccdce;
    background: #fff;
	cursor:pointer
}
.my_shopping_menu li:last-child {
	margin:0 2% 0 1%;
}
.my_shopping_menu li.active {
	border:1px solid #765a60;
}
.my_shopping_view_body {
	background:#fafafa
}
.my_order {
	padding-bottom:5px
}
.my_order_no {
	padding:15px 3%;
	font-size:15px;
	font-weight:700;
	letter-spacing:-1px;
	color:#5d3231;
	border-top:1px solid #bebfc1;
	border-bottom:1px solid #bebfc1;
	background:#f2eced;
}
.my_order_info_top {
	padding:10px 3%;
	overflow: hidden;
	background:#fff
}
.my_order_info_top li {
	float:left;
}
.my_order_info_top li.my_order_product_pic {
	width:35%
}
.my_order_info_top li.my_order_product_pic img {
	width:100%
}
.my_order_info_top li.my_order_product_title {
	width:60%;
	margin-left:10px;
	font-size:15px;
}
.my_order_info_top li.my_order_product_title span{ display:inline-block; padding-bottom:10px;}
.bgc{background-color:#dedede;}
.my_order_info_text {
	padding:0 3%;
	background:#fff
}
.my_order_info_text li {
	border: none;
    padding: 9px 0 10px;
    margin: 0;
	overflow:hidden;
    background: url(../img/product/dotline_01.png) repeat-x left bottom;
}
.my_order_info_text li:last-child {
	background:none
}
.my_order_info_text li span.option_title {
	float:left;
	width:70%
}
.my_order_info_text li span.option_title_check {
	float:left;
	margin-left:5px;
	width:60%
}
.my_order_info_text li span.option_price {
	float:right;
	font-size:14px;
	font-weight:700
}
.my_order_info_text li span.option_price em {
	color:#e35573;
	font-size:14px;
	letter-spacing:-1px;
	font-weight:700
}
.my_order_detail {
	border-top:1px solid #d8d9da;
}
.my_order_detail li {
	padding:6px 3%;
	color:#797979;
	overflow:hidden;
	letter-spacing:-1px;
	background:#fff;
	border-bottom:1px solid #d8d9da;
}
.my_order_detail li.card_area{padding-top:15px;padding-bottom:15px;}
.my_order_detail li span.title {
	float:left;
	height:40px;
	line-height:40px;
	display:inline-block;
	color:#765a60;
	font-weight:700;
	width:32%;
	margin-right:14px;
	background:url(../img/common/bar_title.png) no-repeat right 50%
}
.my_order_detail li p.black{ color:#000; font-weight:700}
.my_order_detail li p.detail {
	float:left;
	margin-top:10px;
	line-height:20px;
	display:inline-block;
	color:#e35573;
	font-weight:700;
	width:60%;
}
.my_order_product_title p.detail{color:#ff0000;}
.my_order_detail li p.detail  span.txt_b{ color:#333;}
.my_order_detail .mgb_5{margin-bottom:5px;}
.my_order_area {
	padding:10px 0;
	text-align:center;
	background:#fff;
	border-bottom:1px solid #d8d9da;
}
.myshopping_all_view_area .btn_area{width:80%; margin:10px auto;}
.myshopping_all_view_area table{width:94%; margin:10px auto 0 auto; border-left:1px solid #d8d9da;border-right:1px solid #d8d9da;border-top:1px solid #d8d9da}
.myshopping_all_view_area table th{ padding:8px; text-align:left; border-right:1px solid #d8d9da; border-bottom:1px solid #d8d9da; font-weight:normal; background-color:#f3f3f3}
.myshopping_all_view_area table td{ padding:8px; border-bottom:1px solid #d8d9da}



.btn_order_cancel,
.btn_order_ok,
.btn_review_go {
	color: #000;
	width:100px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
	border:1px solid #cccdce;
    background: #fff;
}
.my_list_bottom {
	margin-top:10px;
	border-top:1px solid #000;
	border-bottom:1px solid #bebfc1;
	background:#fff;
	overflow:hidden;
}
.more_view {
	float:left;
	width:70%;
	line-height: 27px;
	padding:10px 0;
	display:block;
	text-align:center;
	font-size:14px;
	margin-right:-1px;
	border-right:1px solid #bebfc1;
}
span.icon_more_view {
	display: inline-block;
	vertical-align:middle;
    width: 27px;
    height: 24px;
	margin-left:15px;
    border: 1px solid #bebfc1;
    border-radius: 3px;
    background: url(../img/product/icon_more_view.png) no-repeat center 10px;
	background-size:9px
}
.list_page_view {
	float:right;
	width:30%;
	line-height: 28px;
	padding:10px 0;
	color:#949494;
	font-weight:bold;
	text-align:center;
}
.list_page_view em {
	font-weight:bold;
	color:#765a60
}
.no_order_history {
	border-top:1px solid #e9e9e9;
	padding:74px 0 20px;
	text-align:center;
	font-size:14px;
	background:url(../img/product/icon_warning.png) no-repeat center 34px;
	background-size:38px
}
.my_order_menu {
	overflow:hidden;
	background:#fff;
}
.my_order_menu li {
	width:25%;
	float:left;
	padding:15px 0;
	color:#9d9d9d;
	font-size:14px;
	font-weight:700;
	text-align:center;
	letter-spacing:-1px;
	border-bottom:1px solid #d8d9da;
	cursor:pointer
}
.my_order_menu li.active {
	padding:15px 0 13px;
	color:#000;
	font-size:14px;
	font-weight:700;
	letter-spacing:-1px;
	border-bottom:3px solid #765a60;
}
.my_order_detail li p.f100B {
	color:#000000;
	font-weight:100;
}
.my_order_detail li p.f4e4B {
	color:#4e4141;
	font-weight:bold;
}
.my_order_detail li p.f100G {
	color:#909090;
	font-weight:100;
}
.bar_margin {
	margin:0 10px
}
h2.my_stit {
	position:relative;
	padding: 15px 3%;
    color: #5d3231;
    font-size: 15px;
    font-weight: 700;
    border-top: 1px solid #d8d9da;
    background: #f2eced;
}
h2.my_stit span {
    display: inline-block;
    padding-left: 10px;
    background: url(../img/common/bul_dot.png) no-repeat left 50%;
    background-size: 5px;
}
h2.my_stit em {
	position:absolute;
	top:15px;
	right:3%;
	color:#000;
}
.all_btn_cancel_area {
	margin: 5px 0 0;
    padding: 15px 3%;
	text-align:center;
    border-top: 1px solid #d8d9da;
    border-bottom: 1px solid #d8d9da;
    background: #fff;
}
.btn_all_cancel {
	color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    background: #765a60;
}
.my_order_detail li p.my_address_detail  {
	float: left;
	color:#000;
    width: calc(68% - 14px);
    padding: 10px 0;
    line-height: 20px;
}
#my_order02 .my_order_detail,
#my_order03 .my_order_detail,
#my_order04 .my_order_detail {
	border-top:none
}
.my_order_detail li p.textarea {
	float: left;
    display: inline-block;
    color: #ff0000;
    font-weight: 700;
    width: calc(68% - 14px);
}
.my_order_info_text li .checkbox {
	float:left;
	height:14px
}
.btn_cancel_go {
	color: #515151;
    width: 45%;
    height: 42px;
	margin-right:3%;
    line-height: 42px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
	border:1px solid #cccdce;
    background: #fff;
}
.btn_cancel_close {
	color: #fff;
    width: 45%;
    height: 42px;
    line-height: 42px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    background: #765a60;
}
.order_cancel_warning {
	padding:74px 3% 20px;
	font-size:14px;
	text-align:left;
	background:url(../img/product/icon_warning.png) no-repeat center 30px;
	background-size:38px
}
.order_cancel_warning span {
	display:block;
	margin-bottom:5px
}

.my_cancel_history li {
	background:#fff;
	border-top:1px solid #d8d9da;
	border-bottom:1px solid #d8d9da;
	margin-bottom:5px
}
.my_cancel_history_area {
	padding:0 3%
}
.my_cancel_history_area span.cancel_date {
	display:block;
	color:#797979;
	padding:15px 0 5px
}
.label_cancel {
	font-size:12px;
	font-weight:700;
	color:#e35573;
	padding:1px 8px;
	margin-left:10px;
	border-radius:10px;
	border:2px solid #d3d3d3
}
.label_replace {
	font-size:12px;
	font-weight:700;
	color:#00a2e5;
	padding:1px 8px;
	margin-left:10px;
	border-radius:10px;
	border:2px solid #d3d3d3
}
.my_cancel_history_area span.cancel_price {
	display:block;
	color:#000;
	padding:8px 0 10px
}
.my_cancel_title {
	font-size:14px;
	font-weight:700;
	padding:10px 0 15px;
	background: url(../img/product/dotline_01.png) repeat-x left top;
}
.my_cancel_top {
	padding:20px 3% 15px;
}
.my_order_detail li.cancel_info_s {
	padding:10px 3%;
	font-size:12px;
	color:#000
}

/* === 적립금 내역 === */
.emoney_top {
	overflow:hidden
}
.emoney_top li {
	float:left;
	width:50%;
	padding:25px 0 15px;
	font-size:14px;
	font-weight:700;
	letter-spacing:-1px;
	color:#363636;
	text-align:center
}
.emoney_top li:first-child {
	margin-left:-1px;
	border-right:1px solid #d8d9da
}
.emoney_get {
	display:block;
	font-size:15px;
	font-weight:100;
	margin-bottom:8px
}
.emoney_get em {
	color:#00a2e5;
	font-size:20px;
	margin-right:3px;
	font-weight:700
}
.emoney_used {
	display:block;
	font-size:15px;
	font-weight:100;
	margin-bottom:8px
}
.emoney_used em {
	color:#e35573;
	font-size:20px;
	margin-right:3px;
	font-weight:700
}
.tMypage_list {
	width:100%
}
.tMypage_list th {
	padding:15px 2px;
	letter-spacing:-1px;
	border-top:1px solid #bebfc1;
	border-bottom:1px solid #bebfc1;
	background:#f2eced url(../img/mypage/bar_emoney.png) no-repeat right 50%
}
.tMypage_list th:last-child {
	background-image:none
}
.tMypage_list td {
	padding:10px 2px;
	font-size:13px;
	line-height:18px;
	letter-spacing:-1px;
	text-align:center;
	border-bottom:1px solid #bebfc1;
}
.tMypage_list td.textL {
	text-align:left;
	padding:12px 8px;
}
.emoney_detail {
	display:block;
	color:#00a2e5;
	font-size:13px;
	font-weight:700
}
.emoney_used_detail {
	display:block;
	color:#e35573;
	font-size:13px;
	font-weight:700
}
.coupon_detail {
	display:block;
	color:#a3a3a3;
}
.coupon_no {
	color:#e35573;
	font-weight:700
}
.my_wishlist_top {
	padding: 20px 3% 20px;
}
.my_wishlist_stit {
	margin-bottom:10px;
	padding:15px 3%;
	color:#000;
	font-size:15px;
	font-weight:700;
	border-top:1px solid #000;
	border-bottom:1px solid #cccdce;
	background:#f2eced;
	position:relative
}
.my_wishlist_stit em {
	color:#e35573;
	font-weight:700
}
.btn_qna {
	color: #000;
	padding:0 20px;
    height: 36px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
	border:1px solid #cccdce;
    background: #fff;
}
.label_Yes {
	font-size:12px;
	padding:1px 10px;
	border:1px solid #0060ff;
	color:#0060ff;
	border-radius:10px
}
.label_No {
	font-size:12px;
	padding:1px 10px;
	border:1px solid #ff0000;
	color:#ff0000;
	border-radius:10px
}

/* === 1:1문의=== */
.my_qna_top {
	padding: 20px 3% 10px;
}

.btn_mypage_s03 {
	width:65px;
	height:19px;
	line-height:18px;
	font-size:11px;
	color:#898989;
	border:1px solid #b9b9b9;
	background:#fff;
}

/* === 대량견적문의 === */
.my_estimate{
	position: relative;
    padding: 15px 3%;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px solid #d8d9da;
    background: #f2eced;
}
.my_estimate .num{}
.my_estimate .btn{
	position:absolute;
	top:5px;
	right:3%;
	color:#fff;
	width:100px;
	height:38px;
	line-height:38px;
	text-align:center;
	background-color:#898989;
}
.my_estimate .btn.on{
	background-color:#775b61;
}
.my_big_list{
	overflow:hidden;
    border-bottom: 1px solid #d8d9da;
}
.my_big_info {
	float:left;
	width:100%;
}
.my_big_list .big_info_area{
	padding:15px 3% 0;
}
.my_big_list .big_info_area .img_area{overflow:hidden;margin-bottom:10px;}
.my_big_list .big_info_area .img_area .pic {
	display:block;
	width:35%;
	float:left;
}
.my_big_list .big_info_area .img_area .pic img {
	width:100%
}
.my_big_list .big_info_area .img_area .tlt {
	display:block;
	width:60%;
	float:left;
	margin-left:10px;
	font-size:16px;
	color:#333;
}
.my_big_list .big_info_area .img_area .txt {
	display:block;
	width:60%;
	float:left;
	margin:10px 0 0 10px;
	font-size:16px;
	color:#333;
}
.my_big_top {
	overflow:hidden
}
.my_big_top li {
	float:left;
	margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #bebfc1;
}
.my_big_top li:last-child {
	padding-bottom:0;
	border-bottom:0;
}
.my_big_top li.pic {
	width:35%
}
.my_big_top li.pic img {
	width:100%
}
.my_big_top li.tlt {
	width:60%;
	margin-left:10px;
	font-size:18px;
	color:#333;
}
.my_big_top .option{
	width:100%;
	font-size:16px;
	color:#744644;
}
.my_big_top li.option .tlt {
	display:inline-block;
	font-weight:700;
	width:32%;
	margin-right:14px;
	vertical-align:top;
	background:url(../img/common/bar_title.png) no-repeat right 6px
}
.my_big_top li.option .op_con {
	position:relative;
	width:60%;
	display:inline-block;
	color:#000000;
}

.my_big_order{padding-bottom:5px;}
.my_big_order .my_order_info_top{border-top:1px solid #d8d9da;}
.my_big_order .my_btn{margin-bottom:10px;text-align:center;}
.my_big_order .btn_request{
    width: 100px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    color: #fff;
    background-color: #898989;
}
.final_price_area{
	margin-top:5px;
	padding:5px 3% 3px;
	border-top:1px solid #d8d9da;
}
.final_price{
	width:100%;
	height:60px;
	padding:5px 15px;
	text-align:right;
	border-radius:5px;
	background:#4e4141 url(../img/mypage/icon_final_price.png) no-repeat 15px 50%;
	background-size:20px;
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.final_price span{display:block;color:#c7c0b6;}
.final_price strong{display:block;font-size:24px;color:#fff;}
.final_price strong em{font-size:16px;color:#c7c0b6;}