@charset "utf-8";

/* === product swiper === */
.product_slider_area.swiper-container .product_slider li img,
.product_slider_area.swiper-container .swiper-wrapper li .goods_image_area img {
	width:100%
}
.product_slider_area.swiper-container .swiper-wrapper li a img {
	width:100%
}
.product_slider_area.swiper-container .pagination span {
	background: #b2b2b2;
	text-indent: -9999px;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.product_slider_area.swiper-container .pagination span:hover,
.product_slider_area.swiper-container .pagination span.swiper-pagination-bullet-active {
	background: #765a60;
}

/* === category === */
.category_head {
	border-top:1px solid #7e8083;
	padding:15px 3% 10px;
	background:#f2eced
}
h2.category_tit {
	font-size:15px;
	font-weight:700;
	padding-left:10px;
	background:url(../img/common/bul_dot.png) no-repeat left 6px;
	background-size:5px;
	margin-bottom:10px;
	color:#5d3231;
}
.gategory_menu {
	overflow:hidden;
}
.gategory_menu li {
	width:50%;
	margin-top:-1px;
	float:left;
	border-top:1px solid #bebfc1;
	border-bottom:1px solid #bebfc1;
	box-sizing: border-box;
}
.gategory_menu li:nth-child(1),
.gategory_menu li:nth-child(2){margin-top:0;}
.gategory_menu li:nth-child(odd) {
	border-right:1px solid #bebfc1
}
.gategory_menu li a {
	display:block;
	height:45px;
	line-height:45px;
	text-align:center;
	font-size:14px;
}
.list_head {
	border-top:1px solid #000;
	border-bottom:1px solid #bebfc1;
	margin-top:-1px;
	padding:10px 3%;
	background:#f2eced;
}

/* === list view selectbox === */
div.list_selectBox {
	position:relative;
	display:inline-block;
	cursor:default;
	text-align:left;
	line-height:38px;
	clear:both;
	color:#000;
	vertical-align:middle;
}
div.list_selectBox span.selected {
	width:108px;
	text-indent:8px;
	font-size:13px;
	border-radius:2px;
	border:1px solid #d8d9da;
	border-right:none;
	background:#fff;
	overflow:hidden;
}
div.list_selectBox span.selectArrow {
	width:18px;
	border:1px solid #d8d9da;
	border-left:none;
	text-align:center;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background:#fff url(../img/common/select_arrow.png) no-repeat left 17px;
	background-size:18px;
}
div.list_selectBox span.selectArrow,span.selected {
	position:relative;
	float:left;
	height:38px;
	z-index:1;
}
div.list_selectBox div.selectOptions {
	position:absolute;
	top:39px;
	left:0;
	width:126px;
	font-size:13px;
	color:#373737;
	border:1px solid #e5e5e5;
	overflow:hidden;
	background:#fff;
	padding-top:2px;
	display:none;
	z-index:10
}
div.list_selectBox span.selectOption {
	display:block;
	width:100%;
	line-height:16px;
	padding:10px 10px;
}
div.list_selectBox span.selectOption:active {
	color:#000000;
	background:#F2F2F2
}
span.icon_listview {
	display:inline-block;
	width:13px;
	height:14px;
	margin:0 5px -2px 0;
	background:url(../img/product/icon_list_select.png) no-repeat left 2px
}
span.icon_imageview {
	display:inline-block;
	width:13px;
	height:14px;
	margin:0 5px -2px 0;
	background:url(../img/product/icon_list_select.png) no-repeat left -22px
}
.list_bottom {
	border-top:1px solid #bebfc1;
	border-bottom:1px solid #bebfc1;
	overflow:hidden;
	margin-top:-1px
}
span.icon_more_view {
	display: inline-block;
	vertical-align:middle;
    width: 27px;
    height: 24px;
	margin-left:15px;
    border: 1px solid #bebfc1;
    border-radius: 3px;
    background: url(../img/product/icon_more_view.png) no-repeat center 10px;
	background-size:9px
}

/* === 상품평 === */
.review_warning {
	color:#000;
	font-size:13px;
	font-weight:700;
	text-align:center;
	padding:80px 3% 30px;
	border-bottom:1px solid #e5e5e5;
	background:url(../img/product/icon_review.png) no-repeat center 30px;
	background-size:38px
}
.graphview {
	width:70%;
	margin: 20px auto;
	text-align:center
}
.graph_star_groups {
	margin:5px 0
}
.graph_star_groups img {
	width:16px
}
.per_no {
	font-size:16px;
	font-weight:700
}
.review_graph_area {
	width:100%;
	height:10px;
	margin: 0 auto;
	border-radius:10px;
	border:1px solid #e5e5e5;
}
.review_graph_bar {
	border:1px solid #fff;
	width:100%;
	height:100%;
	border-radius:10px;
	background:url(../img/product/graph_bar_bg.gif) repeat-x left top;
	 -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;
}
.graphview_total {
	font-size:13px;
	color:#797979
}
.graphview_total em {
	color:#000;
	font-weight:700
}
.btn_review_write {
    width:100px;
    height: 36px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    background: #fff
}
.product_review_btn_area {
	text-align:right;
	padding:0px 3% 5px
}
.review_list > li {
	border-bottom:1px solid #d8d9da
}
.review_list > li:first-child {
	border-top:1px solid #000
}
.review_view {
	padding:0 15px;
}
.review_view li {
	margin:15px 0
}
.review_view li.review_view_title {
	font-size:15px;
	cursor:pointer
}
span.review_view_new {
	color:#ff0000;
	font-size:11px;
	margin-left:7px;
	font-weight:700
}
.review_view li.review_view_title div.review_date {
	color:#797979;
	font-size:13px;
}
.review_view li.review_view_title span.review_id {
	float:right;
	padding-left:10px;
	background:url(../img/product/id_bar.png) no-repeat left 3px
}
.review_view li.review_view_title div.review_date span.star_area {
	float:none;
	display:inline-block;
	margin-right:0px;
	line-height:1px;
}
.review_view li.review_view_title div.review_date span.star_area img {
	width:12px
}
.review_view li.review_view_text {
	position:relative;
	font-size:14px;
	color:#000000;
	line-height:20px;
	letter-spacing:-1px;
	padding:15px;
	background:#f3f4f4 url(../img/product/dotline_01.png) repeat-x left top
}
.product_review_area {
}
.product_review_list {
	margin:5px 0 0;
}
.product_review_list li {
	padding:6px 3%;
	color:#797979;
	letter-spacing:-1px;
	background:#fff;
	border-bottom:1px solid #d8d9da;
}

.product_review_list li:after {
    content: "";
    display: block;
    clear: both;
}
.product_review_list li:first-child {
	border-top:1px solid #d8d9da;
}
.product_review_list li.form span.title {
	float:left;
	height:40px;
	line-height:40px;
	display:inline-block;
	color:#765a60;
	font-weight:700;
	width:32%;
	margin-right:14px;
	background:url(../img/common/bar_title.png) no-repeat right 50%
}
.product_review_list li p.detail {
	float:left;
	width:60%;
}
.product_review_list li span.desc_txt{
	font-size:12px;
	display:block;
	padding-top:5px;
	margin-left:calc(32% + 14px);
	}

.icon_star_5 {
	display:inline-block;
	width:114px;
	height: 28px;
	background:url(../img/product/icon_star_5.png) no-repeat left 9px
}
.icon_star_4 {
	display:inline-block;
	width:114px;
	height: 28px;
	background:url(../img/product/icon_star_4.png) no-repeat left 9px
}
.icon_star_3 {
	display:inline-block;
	width:114px;
	height: 28px;
	background:url(../img/product/icon_star_3.png) no-repeat left 9px
}
.icon_star_2 {
	display:inline-block;
	width:114px;
	height: 28px;
	background:url(../img/product/icon_star_2.png) no-repeat left 9px
}
.icon_star_1 {
	display:inline-block;
	width:114px;
	height: 28px;
	background:url(../img/product/icon_star_1.png) no-repeat left 9px
}
.btn_review_area {
	border-top:1px solid #000;
	border-bottom:1px solid #e9e9e9;
	padding:10px 0;
	margin-top:-1px;
	text-align:center
}
.btn_review_ok,
.btn_review_cancel {
	width: 100px;
    height: 36px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    background: #fff;
}

.file_up{
	position:relative;
	width:100%;
	height:37px;
}

.file_up button{
	position:absolute;
	right:0px; top:0px;
	}
.btn_fileup{
	color:#fff;
	font-size:12px;
	height:38px;
	line-height:38px;
	width:50px;
	letter-spacing:0px;
	background-color:#898989;
	}


/* === 상품문의 === */
.qna_warning {
	color:#000;
	font-size:13px;
	font-weight:700;
	text-align:center;
	padding:80px 3% 30px;
	border-bottom:1px solid #e5e5e5;
	background:url(../img/product/icon_review.png) no-repeat center 30px;
	background-size:38px
}
.qna_warning_text {
	margin-top:20px
}
.qna_warning_text li {
	text-align:left;
	margin:3px 0;
	padding-left:8px;
	background:url(../img/common/bul_dot02.png) no-repeat left 5px;
}
.product_qna_area {
}
.product_qna_btn_area {
	text-align:right;
	padding:0 3%;
	margin:5px 0;
	background:#fff;
}
.btn_qna_write {
	width: 100px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #cacaca;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    background: #fff;
}
.qna_list > li {
	border-bottom:1px solid #bebfc1
}
.qna_list > li:first-child {
	border-top:1px solid #000
}
.qna_view {
	padding:0 15px;
}
.qna_view li {
	margin:15px 0
}
.qna_view li.qna_view_title {
	font-size:15px;
	cursor:pointer;
	position:relative
}
.qna_view_title_area {
	width:70%;
	margin-bottom:5px
}
span.qna_time {
	position:absolute;
	right:0;
	top:0;
	color:#797979;
	font-size:14px;
	margin-left:5px;
}
.qna_check {
	margin-top:5px;
}
.qna_view li.qna_view_text div.qna_question_text {
	padding:15px;
	font-size:14px;
	color:#000000;
	line-height:20px;
	letter-spacing:-1px;
	background:#f3f4f4 url(../img/product/dotline_01.png) repeat-x left top
}
.qna_view li.qna_view_text div.qna_answer_text {
	margin-top:15px;
	position:relative;
	font-size:14px;
	color:#000000;
	line-height:20px;
	letter-spacing:-1px;
	padding-left:38px;
	background:#fff url(../img/product/icon_reply.png) no-repeat left 4px;
	background-size:28px
}
.answerLB,
.answerLR {
	background: #fff;
    display: inline-block;
    padding: 1px 11px;
    font-size: 12px;
    font-weight: 700;
	margin-left:0px;
    border-radius: 13px;
}
.answerLB {
	color: #0060ff;
    border: 1px solid #0060ff;
}
.answerLR {
	color: #e50000;
    border: 1px solid #e50000;
}

.shopping_info_list li {
	padding:15px 3%;
	font-size:14px;
}
.shopping_info_list li:nth-child(even) {
	line-height:20px
}
.shopping_info_list li:last-child {
	border-bottom:1px solid #e9e9e9
}
.shopping_info_list li.title {
	color:#5d3231;
	font-size:15px;
	font-weight:700;
	border-top:1px solid #bebfc1;
	border-bottom:1px solid #bebfc1;
	background:#f2eced
}
.shopping_info_list li:first-child.title {
	border-top:none
}
.shopping_info_list li.title span {
	display:inline-block;
	padding-left:15px;
	background:url(../img/common/bul_dot.png) no-repeat left 6px;
}
.shopping_info_slist li {
	margin:3px 0;
	padding:0 0 0 8px;
	background:url(../img/common/bul_dot03.png) no-repeat left 8px;
}
.shopping_info_slist li:last-child {
	border-bottom:none;
}

/* 쿠폰팝업 */
.popup_coupon {
	width:666px;
	height:679px;
	border:8px solid #6e6e6e
}
.popup_coupon_price {
	margin-top:12px;
	border:5px solid #323232;
	text-align:center;
	overflow:hidden
}
.popup_coupon_price li {
	float:left;
	width:28%;
	margin-top:15px;
	font-size:16px;
	color:#373737;
	font-weight:700;
	text-align:center
}
.popup_coupon_price li span {
	display:block;
	margin-top:5px;
	font-size:18px
}
.popup_coupon_price li span.fRed {
	color:#ff0000
}
.popup_coupon_price li.icon {
	width:6%;
	margin:0;
	height:77px;
	line-height:102px;
}
.coupon_scroll {
	height:152px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	overflow-y:scroll;
}
.coupon_scroll02 {
	height:132px;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	overflow-y:scroll;
}
.coupon_scroll_tit {
	font-weight:700;
	font-size:13px;
	margin:27px 0 5px;
	overflow:hidden
}
.coupon_scroll_tit span,
.coupon_scroll_tit02 span {
	font-weight:100;
	font-size:11px;
	margin:0 0 0 3px
}
.coupon_scroll_tit02 {
	font-weight:700;
	font-size:13px;
	margin:27px 0 13px;
	overflow:hidden
}
.tCoupon_List {
	width:100%
}
.tCoupon_List {
	width:100%;
	margin:0 auto;
	padding:8px 0px;
	font-size:11px;
	font-weight:700;
	letter-spacing:-1px;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden
}
.tCoupon_List li {
	height:28px;
	line-height:28px;
	padding:1px 0
}
.tCoupon_List li.col01 {
	float:left;
	width:55%;
	margin-left:5px;
}
.tCoupon_List li.col02 {
	float:left;
	width:25%;
	text-align:left
}
.tCoupon_List li.col02_02 {
	float:left;
	width:25%;
	text-align:right;
	color:#ff0000
}
.tCoupon_List li.col03 {
	float:left;
	width:18%;
	text-align:right
}
span.fRed {
	color:#e35573;
}
.tCoupon_List02 {
	width:100%;
	margin:0 auto;
	font-size:11px;
	font-weight:700;
	letter-spacing:-1px;
}
.tCoupon_List02 li {
	height:28px;
	line-height:28px;
	padding:8px 0px;
	border-bottom:1px solid #e5e5e5;
}
.btn_my_coupon {
	width:100px;
	height:28px;
	color:#fff;
	font-size:12px;
	background:#373737
}
.btn_my_coupon:active {
	background:#000
}

/* 재입고 알림 start */
.popup_present_event {
    width:666px;
}
.popup_present_event_scroll {
    height:327px;
    margin-top:5px;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    overflow-y:scroll
}
.popup_present_event_list {
    overflow:hidden
}
.popup_present_event_list li {
    float:left;
    width:95px;
    margin:10px 11px 10px;
}
.popup_present_event_list li .event_check input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.popup_present_event_list li .event_check input[type="radio"] + label {
    color:#2e2d2d;
    display:block;
    font-size:12px;
    letter-spacing:-1px;
}
.popup_present_event_list li .event_check input[type="radio"] + label span {
    float:left;
    display:block;
    width:11px;
    height:45px;
    margin-right:3px;
    vertical-align:middle;
    background:url(../img/common/input_radio.png) no-repeat left 2px;
    cursor:pointer;
}

.popup_present_event_list li .event_check input[type="radio"]:checked + label span {
    background:url(../img/common/input_radio_checked.png) no-repeat left 2px;
}
.tProduct_Insert {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tProduct_Insert th {
    font-size:13px;
    text-align:left;
    color:#2e2d2d;
    padding:7px 28px;
    border-bottom:1px solid #e5e5e5 ;
    background:#f9f9f9
}
.tProduct_Insert th.order_tit {
    font-size:13px;
    text-align:left;
    color:#2e2d2d;
    padding:7px 12px;
    border-bottom:1px solid #e5e5e5 ;
    background:#f9f9f9
}
.tProduct_Insert th.textC {
    padding:14px 0px;
    text-align:center;
}
.tProduct_Insert th.star_tit {
    font-size:15px;
    text-align:center;
    padding:14px 0
}
.tProduct_Insert td {
    font-size:13px;
    text-align:left;
    padding:7px 14px;
    height:27px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tProduct_Insert td.textC {
    text-align:center;
    padding:7px 14px;
}
.tProduct_Insert td input[type="text"] {
    border:1px solid #e5e5e5;
    font-size:12px;
    height:27px;
    line-height:27px;
    padding:0 5px
}
.tProduct_Insert td textarea {
    border:1px solid #e5e5e5;
    resize:none;
    font-size:13px;
    padding:5px;
    overflow-y:auto;
}
h3.product_stit {
    margin:38px 0 10px;
    padding-left:10px;
    background:url(../img/common/bul_dot02.png) no-repeat left 6px;
    overflow:hidden
}

.tProduct_Con {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tProduct_Con th {
    font-size:13px;
    text-align:left;
    color:#2e2d2d;
    padding:12px 16px;
    border-bottom:1px solid #e5e5e5 ;
    background:#f9f9f9
}
.tProduct_Con th.textC {
    padding:12px 0px;
    text-align:center;
}
.tProduct_Con td {
    font-size:13px;
    text-align:left;
    padding:12px 25px;
    line-height:20px;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tProduct_Con td.textC {
    text-align:center;
    padding:18px 0;
}
/* 재입고 알림 end */



/* 쿠폰 다운로드 팝업 start */
.tProduct_Board {
    width:100%;
    border-top:1px solid #e5e5e5 ;
}
.tProduct_Board th {
    font-size:13px;
    color:#2e2d2d;
    padding:14px 0;
    border-bottom:1px solid #e5e5e5 ;
    background:#f9f9f9
}
.tProduct_Board th.textL {
    font-size:13px;
    text-align:left;
    color:#2e2d2d;
    padding:14px 22px;
    border-bottom:1px solid #e5e5e5 ;
    background:#f9f9f9
}
.tProduct_Board td {
    font-size:13px;
    text-align:center;
    padding:12px 0;
    color:#2e2d2d;
    border-bottom:1px solid #e5e5e5 ;
}
.tProduct_Board td.review_view {
    padding:20px 40px;
    font-size:13px;
    text-align:left;
    line-height:22px
}
.tProduct_Board td.review_view .img {
    margin:10px 0;
}
.tProduct_Board td.review_view .view_btn_area {
    margin-right:-40px;
    text-align:right;
    margin-top:30px
}
.tProduct_Board td .view_btn_area .btn_del:active {
    background:#373737
}
.tProduct_Board td.textL {
    padding:12px;
    text-align:left
}
.tProduct_Board td.textL11 {
    padding:8px 4px;
    font-size:11px;
    text-align:left
}
.tProduct_Board td.text11 {
    padding:8px 0;
    font-size:11px;
    text-align:center
}
.tProduct_Board td.text6 {
    padding:8px 0;
    font-size:6px;
    text-align:center
}
.btn_cart_s {
	padding:2px;
    font-size:11px;
    color:#fff;
    background:#646464
}
.btn_address_plus {
	padding:2px;
    color:#fff;
    font-size:12px;
    background:#373737
}
.btn_address_plus:active {
    background:#000
}

.btn_all_coupon_download {
    position:absolute;
    top:77px;
    right:0;
    margin-right:5px;
}

.event_ad{font-size:12px; letter-spacing:-1px; text-align:center;  padding-bottom:3px;color:#727272}
/* 쿠폰 다운로드 팝업 end */

.address_book_con{height:60%;overflow:auto;border-top:1px solid #000;border-bottom:1px solid #000;}
.address_book_con ul li{position:relative;padding:10px;border-top:1px dashed #d5d5d5;}
.address_book_con ul li:first-child{border-top:none;}
.address_book_con ul li .add_btn{position:absolute;top:10px;right:0;padding:6px 7px;color:#fff;border-radius:5px;background-color:#bfbfbf;}
.address_book_con ul li .add_btn.on{background-color:#000;}
.address_book_con ul li .add_top{margin-bottom:10px;}
.address_book_con ul li .add_top span{display:inline-block;}
.address_book_con ul li .add_top .add_name{margin-left:8px;}
.address_book_con ul li .add_top .add_normal{margin-left:15px;}
.address_book_con ul li .add_top .add_normal img{vertical-align:middle;}
.address_book_con ul li .add_tel{margin-bottom:5px;color:#797979;}
@media screen and (min-width:400px) {
	.popup#myDeliveryList{height:800px !important;}
}

/* 옵션 선택 상세/수정 */
.option_select_con{height:60%;overflow:auto;border-top:1px solid #765a60;border-bottom:1px solid #765a60;}
.option_select_con .product_price{text-align:right;padding: 10px 3%;border-top:1px solid #d8d9da;border-bottom:1px solid #d8d9da;}
.option_select_con .product_price del{display:block;}
.option_select_con .product_price span{display:block;}
.option_select_con .img_area{overflow:hidden;}
.option_select_con .img_area .pic {display:block;width:35%;float:left;}
.option_select_con .img_area .pic img {width:100%}
.option_select_con .img_area .tlt {display:block;width:60%;float:left;margin-left:10px;font-size:16px;color:#333;}
.option_select_con .product_detail_list li.form span.title{height:auto;line-height:20px;}
.option_select_con .product_detail_list li:first-child{border-top:0;}
.option_select_con .option_con{padding:0 3%;}
.option_select_con .option_con li{padding:10px 0;}
.option_select_con .option_con span{display:inline-block;vertical-align:top;}
.option_select_con .option_con .op{width:35%;}
.option_select_con .option_con .int{width:20%;}
.option_select_con .option_con .pay{width:40%;line-height:40px;text-align:right;}
.option_select_con .option_con .pay button{position:relative;width:20px;height:20px;line-height:20px;text-align:center;border:1px solid #d8d9da;}
.option_select_con .option_con .pay button:after{content:'x';position:absolute;top:-1px;left:7px;}
.option_select_con .total_price {border-top:1px solid #765a60;overflow:hidden;padding: 20px 3%;}
.option_select_con .total_price span {float:left;}
.option_select_con .total_price em {float:right;font-size:16px;font-weight:700;color:#e35573;}
.option_select_con .total_price em b {	font-size:14px;color:#000;}
